
<div class="about-block">
  <div class="about-block__cover">
<!--     <img src="images/media/dreamstime.jpg" alt=""/>
 -->  </div>
  <div class="about-block__content">
    <header class="about-block__header">
      <div class="about-block__header__logo">
        <div class="logo-white"></div>
      </div>
      <div class="about-block__header__delimiter"></div>
      <div class="about-block__header__title">О компании</div>
    </header>
    <div class="about-block__info">
      Торговый Дом «Керамик Центр» — это объединенный<br /> центр продаж продукции крупнейших производителей<br /> керамического кирпича.
    </div>
  </div>
</div>
