<div class="ask">
  <form class="ask__form">
    <header class="ask__form__header">
      <h2>Есть вопросы?</h2>
      <h3>Мы с удовольствием проконсультируем вас и<br/>предложим лучшее решение</h3>
    </header>
    <div class="ask__form__field">
      <input type="text" placeholder="Имя и фамилие"/>
    </div>
    <div class="ask__form__field">
      <input type="text" placeholder="Email"/>
    </div>
    <div class="ask__form__field">
      <textarea placeholder="Введите ваше сообщение"></textarea>
    </div>
    <div class="ask__form__field">
      <button type="submit" class="btn btn--green btn--submit">Отправить</button>
    </div>
  </form>
</div>
