
<div class="carousel" id="carousel">
  <div class="carousel__list" id="carousel_list">
    <div class="carousel__item">
      <img src="./images/media/carousel_slide.jpg" alt="" />
      <div class="carousel__item__title">
        <h1>Производим и продаем материалы</h1>
      </div>
    </div>
    <div class="carousel__item">
      <img src="./images/media/photo_2016-08-24_11-30-08.jpg" alt="" />
      <div class="carousel__item__title">
        <h1>Производим и продаем материалы</h1>
      </div>
    </div>
  </div>
  <div class="carousel__arrows">
    <div class="carousel__arrows__item carousel__arrows__item--left" id="carousel_left"></div>
    <div class="carousel__arrows__item carousel__arrows__item--right" id="carousel_right"></div>
  </div>
</div>
