
<div class="carousel">
  <div class="carousel__slide">
    <img src="./images/media/carousel_slide.jpg" alt="" />
  </div>
  <div class="carousel__panel">
    <div class="carousel__panel__title">
      <h1>Производим и продаем материалы</h1>
    </div>
    <div class="carousel__panel__arrows">
      <div class="carousel__panel__arrows__item carousel__panel__arrows__item--left"></div>
      <div class="carousel__panel__arrows__item carousel__panel__arrows__item--right"></div>
    </div>
  </div>
</div>
