<div class="destinations">
  <div class="destinations__item destinations__item--bricks">
    <div class="destinations__item__title">150 млн</div>
    <div class="destinations__item__sub">кирпичей в год</div>
  </div>
  <div class="destinations__item destinations__item--factories">
    <div class="destinations__item__title">90 лет</div>
    <div class="destinations__item__sub">успешного производства</div>
  </div>
  <div class="destinations__item destinations__item--clients">
    <div class="destinations__item__title">> 10000</div>
    <div class="destinations__item__sub">довольных клиентов</div>
  </div>
  <div class="destinations__item destinations__item--houses">
    <div class="destinations__item__title">> 25000</div>
    <div class="destinations__item__sub">построенных домов из наших<br/> материалов</div>
  </div>
</div>