<footer class="footer">
  <div class="centered-wrapper">
    <div class="footer__logo">
      <div class="logo logo--sm"></div>
    </div>
    <div class="footer__content">
      <aside class="footer__column footer__column--sections">
        <h4 class="footer__column__title">Разделы</h4>
        <hr class="hr hr--footer">
        <ul class="footer__column__list">
          <li class="footer__column__text-item">
            <a href="#">О компании</a>
          </li>
          <li class="footer__column__text-item">
            <a href="#">Диллеры</a>
          </li>
          <li class="footer__column__text-item">
            <a href="#">Пресс-центр</a>
          </li>
          <li class="footer__column__text-item">
            <a href="#">Акции</a>
          </li>
          <li class="footer__column__text-item">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </aside>

      <aside class="footer__column footer__column--producers">
        <h4 class="footer__column__title">Производители</h4>
        <hr class="hr hr--footer">
        <ul class="footer__column__list">
          <li class="footer__column__text-item">
            <a href="#">Кощаковский кирпичный завод</a>
          </li>
          <li class="footer__column__text-item">
            <a href="#">Казанский комбинат строительных материалов</a>
          </li>
          <li class="footer__column__text-item">
            <a href="#">Камастройиндустрия</a>
          </li>
          <li class="footer__column__text-item">
            <a href="#">Казанский ДСК</a>
          </li>
        </ul>
      </aside>

      <aside class="footer__column footer__column--social">
        <h4 class="footer__column__title">Присоединяйтесь</h4>
        <hr class="hr hr--footer">
        <ul class="footer__column__list">
          <li class="footer__column__icon-item">
            <a class="social-icon social-icon--vk"></a>
          </li>
          <li class="footer__column__icon-item">
            <a class="social-icon social-icon--fb" ></a>
          </li>
          <li class="footer__column__icon-item">
            <a class="social-icon social-icon--inst" ></a>
          </li>
        </ul>
      </aside>
      <div class="clearfix"></div>
      <div class="footer__requisites">
        Реквизиты ТД Керамик Центр
        <a href="#" class="link link--share"></a>
      </div>
      <div class="clearfix"></div>
      <div class="footer__call">
        <button class="btn btn--call">Заказать звонок</button>
        8 800 555 91 25
      </div>

      <div class="footer__made-in">
        <span>Сделано в</span>
      </div>
    </div>
  </div>
</footer>
