<div class="geo-sale">
  <header class="geo-sale__header">
    <h2>География продаж</h2>
  </header>
  <div id="geo_sale_map" class="geo-sale__map">
<!--     <img src="images/media/map_yandex.jpg">
    <div class="geo-sale__map__marker">
      <div class="map-marker"></div>
    </div> -->
  </div>
  <div id="geo-sale_placemark_1">
    <input type="hidden" name="coords" value="40.90140850,57.77302080">
    <input type="hidden" name="description" value="Отдел продаж Кощаково">    
  </div>
  <div id="geo-sale_placemark_2">
    <input type="hidden" name="coords" value="40.99669350,57.00858312">
    <input type="hidden" name="description" value="Отдел продаж Кощаково">    
  </div>
  <div id="geo-sale_placemark_3">
    <input type="hidden" name="coords" value="47.90040800,56.62925561">
    <input type="hidden" name="description" value="Отдел продаж Кощаково">    
  </div>
  <div id="geo-sale_placemark_4">
    <input type="hidden" name="coords" value="56.23002700,58.02286834">
    <input type="hidden" name="description" value="Отдел продаж Кощаково">    
  </div>
  <div id="geo-sale_placemark_5">
    <input type="hidden" name="coords" value="51.52664782,56.25932260">
    <input type="hidden" name="description" value="Отдел продаж Кощаково">    
  </div>
  <div id="geo-sale_placemark_6">
    <input type="hidden" name="coords" value="52.95487047,55.98315837">
    <input type="hidden" name="description" value="Отдел продаж Кощаково">    
  </div>
  <div id="geo-sale_placemark_7">
    <input type="hidden" name="coords" value="54.00955797,55.26518834">
    <input type="hidden" name="description" value="Отдел продаж Кощаково">    
  </div>
  <div id="geo-sale_placemark_8">
    <input type="hidden" name="coords" value="51.91116930,56.95907120">
    <input type="hidden" name="description" value="Отдел продаж Кощаково">    
  </div>
</div>