<div class="good good--catalog" style="background-image: url('images/media/kirpichi_bg.jpg')">
  <a class="good__content" href="product.html">
    <div class="good__img">
      <div class="good__img__frame">
        <img src="images/media/kirpichi_pr.jpg" alt="" />
      </div>
    </div>
    <header class="good__title">
      Кирпич керамический одинарный пустотелый (1НФ) / полуторный (1,4 НФ)
    </header>
    <table class="good__description">
      <tr>
        <td>Лицевой</td>
        <td>от 9,45</td>
      </tr>
      <tr>
        <td>Кладочный</td>
        <td>от 12,60</td>
      </tr>
    </table>
  </a>
  <div class="good__add-cart">
    <button class="btn btn--green">В корзину</button>
  </div>
</div>
