<header id="header" class="header">
  <div class="header__logo">
    <a href="index.html"></a>
  </div>
  <div class="header__cart">
    <a class="link-cart-mobile" href="cart.html">
      <div class="link-cart-mobile__notify">17</div>
    </a>
  </div>
  <div id="menu" class="header__menu">
    <div class="topbar">
      <div class="topbar__catalog">
        <a href="catalog.html" class="topbar-link-catalog">Каталог</a>
      </div>
      <div class="topbar__call">
        <a href="tel:8 800 555 91 25" class="link-phone">8 800 555 91 25</a>
        <a href="#popup_call" class="link-call link-call--green">Заказать звонок</a>
      </div>
      <div class="topbar__search">
        <form id="search_box" class="topbar__search__form" name="search-form" action="search.html" novalidate>
          <input name="query" type="text" placeholder="Что вы ищите?" required/>
          <button type="submit">Поиск</button>
          <button type="reset"></button>          
        </form>
      </div>
      <div class="topbar__cart">
        <a href="#">
          <div class="topbar__cart__icon">
            <div class="topbar__cart__notify">17</div>
          </div>
          Корзина
        </a>
      </div>
    </div>
    <nav class="navbar navbar--header">
      <ul class="navbar__list">
        <li class="navbar__item navbar__item--catalog">
          <a href="catalog.html" class="topbar-link-catalog">Каталог</a>
        </li>
        <li class="navbar__item navbar__item--secondary-active navbar__item--active">
          <a href="about.html">О компании</a>
          <div class="navbar__item__secondary">
            <div class="second-navbar">
              <ul class="second-navbar__list">
                <li class="second-navbar__item second-navbar__item--active">
                  <a href="team.html">Наша команда</a>
                </li>
                <li class="second-navbar__item">
                  <a href="partners.html">Наши партнеры</a>
                </li>
                <li class="second-navbar__item">
                  <a href="regions.html">Регионы присутствия</a>
                </li>
                <li class="second-navbar__item">
                  <a href="jobs.html">Вакансии</a>
                </li>
                <li class="second-navbar__item">
                  <a href="certificates.html">Дипломы и сертификаты</a>
                </li>
                <li class="second-navbar__item">
                  <a href="producers.html">Заводы производители</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="dealers.html">Дилеры</a>
        </li>
        <li class="navbar__item navbar__item--desktop-only">
          <a href="news_list.html">Пресс-центр</a>
          <div class="navbar__item__secondary">
            <div class="second-navbar">
              <ul class="second-navbar__list">
                <li class="second-navbar__item">
                  <a href="news_list.html">Новости</a>
                </li>
                <li class="second-navbar__item second-navbar__item--active">
                  <a href="press_photo.html">Фотогалерея</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="navbar__item navbar__item--mobile-only">
          <a href="news_list.html">Новости</a>
        </li>
        <li class="navbar__item navbar__item--mobile-only">
          <a href="press_photo.html">Фотогалерея</a>
        </li>
        <li class="navbar__item">
          <a href="special_offers.html">Акции</a>
        </li>
        <li class="navbar__item">
          <a href="contacts.html">Контакты</a>
        </li>
        <li class="navbar__item navbar__item--cart navbar__item--active">
          <a href="cart.html">
            <div class="navbar__item__notify">17</div>
            Корзина
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<label class="navigation-checkbox-label"></label>
