<header class="header">
  <div class="header__logo">
    <div class="logo"></div>
  </div>
  <div class="header__menu">
    <div class="topbar">
      <div class="topbar__catalog">
        <a href="#" class="topbar__catalog__link">Каталог</a>
      </div>
      <div class="topbar__call">
        <button class="btn btn--gray">Заказать звонок</button>
        <span>8 800 555 91 25</span>
      </div>
      <div class="topbar__search">
        <input type="text"/>
      </div>
      <div class="topbar__cart">
        <a href="#">
          <div class="topbar__cart__icon">
            <div class="topbar__cart__notify">17</div>
          </div>
          Корзина
        </a>
      </div>
    </div>
    <nav class="navbar navbar--header">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="#">О компании</a>
          {% include "partials/second-navbar.html"%}
        </li>
        <li class="navbar__item">
          <a href="#">Диллеры</a>
        </li>
        <li class="navbar__item">
          <a href="#">Пресс-центр</a>
        </li>
        <li class="navbar__item">
          <a href="#">Акции</a>
        </li>
        <li class="navbar__item">
          <a href="#">Контакты</a>
        </li>
        <li class="navbar__item navbar__item--cart">
          <div class="navbar__item__notify">17</div>
          <a href="#">Корзина</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
