<div class="popular">
  <header class="popular__header">
    <h2>Популярные товары</h2>
    <div class="popular__header__catalog">
      <a href="#" class="link-catalog">Каталог</a>
    </div>
  </header>
  <div class="popular__item">
    <div class="popular__item__cover" style="background-image: url('images/media/kirpichi_bg.jpg')"></div>
    <div class="popular__item__img">
      <img src="images/media/kirpichi_pr.jpg" alt="" />
    </div>
    <div class="popular__item__info">
      <header class="popular__item__header">
        <h3>Кирпич керамический одинарный пустотелый (1НФ) / полуторный (1,4 НФ)</h3>
      </header>
      <table class="popular__item__description">
        <tr>
          <td>Лицевой</td>
          <td>от 9,45</td>
        </tr>
        <tr>
          <td>Кладочный</td>
          <td>от 12,60</td>
        </tr>
      </table>
      <div class="popular__item__add-cart">
        <button class="btn btn--green">В корзину</button>
      </div>
    </div>
  </div>
  <div class="popular__item">
    <div class="popular__item__cover" style="background-image: url('images/media/svai_bg.jpg')"></div>
    <div class="popular__item__img">
      <img src="images/media/svai_pr.jpg" alt="" />
    </div>
    <div class="popular__item__info">
      <header class="popular__item__header">
        <h3>Сваи железобетонные</h3>
      </header>
      <table class="popular__item__description">
        <tr>
          <td>Лицевой</td>
          <td>от 9,45</td>
        </tr>
        <tr>
          <td>Кладочный</td>
          <td>от 12,60</td>
        </tr>
      </table>
      <div class="popular__item__add-cart">
        <button class="btn btn--green">В корзину</button>
      </div>
    </div>
  </div>
  <div class="popular__item">
    <div class="popular__item__cover" style="background-image: url('images/media/kirpichi_bg.jpg')"></div>
    <div class="popular__item__img">
      <img src="images/media/kirpichi_pr.jpg" alt="" />
    </div>
    <div class="popular__item__info">
      <header class="popular__item__header">
        <h3>Кирпич керамический одинарный пустотелый (1НФ) / полуторный (1,4 НФ)</h3>
      </header>
      <table class="popular__item__description">
        <tr>
          <td>Лицевой</td>
          <td>от 9,45</td>
        </tr>
        <tr>
          <td>Кладочный</td>
          <td>от 12,60</td>
        </tr>
      </table>
      <div class="popular__item__add-cart">
        <button class="btn btn--green">В корзину</button>
      </div>
    </div>
  </div>
  <div class="popular__item">
    <div class="popular__item__cover" style="background-image: url('images/media/svai_bg.jpg')"></div>
    <div class="popular__item__img">
      <img src="images/media/svai_pr.jpg" alt="" />
    </div>
    <div class="popular__item__info">
      <header class="popular__item__header">
        <h3>Сваи железобетонные</h3>
      </header>
      <table class="popular__item__description">
        <tr>
          <td>Лицевой</td>
          <td>от 9,45</td>
        </tr>
        <tr>
          <td>Кладочный</td>
          <td>от 12,60</td>
        </tr>
      </table>
      <div class="popular__item__add-cart">
        <button class="btn btn--green">В корзину</button>
      </div>
    </div>
  </div>
</div>
