<div class="popular">
  <header class="popular__header">
    <h2>Популярные товары</h2>
    <div class="popular__header__catalog">
      <a href="#" class="link-catalog">Каталог</a>
    </div>
  </header>
  <div class="popular__list">
    <div class="popular__item">
      {% include "partials/good.html" %}
    </div>
    <div class="popular__item">
      {% include "partials/good.html" %}
    </div>
    <div class="popular__item">
      {% include "partials/good.html" %}
    </div>
    <div class="popular__item">
      {% include "partials/good.html" %}
    </div>    
  </div>
</div>
