<div class="popular">
  <header class="popular__header">
    <h2>Популярные товары</h2>
  </header>
  <div class="popular__list">
    <div class="popular__item">
      {% include "partials/good.html" %}
    </div>
    <div class="popular__item">
      {% include "partials/good.html" %}
    </div>
    <div class="popular__item">
      {% include "partials/good.html" %}
    </div>
    <div class="popular__item">
      {% include "partials/good.html" %}
    </div>    
  </div>
  <footer class="popular__footer">
    <div class="popular__footer__catalog">
      <a href="catalog.html" class="link-catalog">Каталог</a>
    </div>
  </footer>
</div>
