<div class="producers-block">
  <div class="centered-wrapper">
    <a href="producers.html" class="producers-block__item producers-block__item--title">
      <h2>Производители:</h2>
    </a>
    <a href="factry.html" class="producers-block__item producers-block__item--factory">
      Кощаковский<br/>кирпичный завод
    </a>
    <a href="factry.html" class="producers-block__item producers-block__item--factory">
      Камастройиндустрия
    </a>    
    <a href="factry.html" class="producers-block__item producers-block__item--factory">
      ККСМ
    </a>    
    <a href="factry.html" class="producers-block__item producers-block__item--kdsk">
      КДСК
    </a>
  </div>
</div>