<div class="producers-block">
  <div class="centered-wrapper">
    <div class="producers-block__item producers-block__item--title">
      Производители:
    </div>
    <div class="producers-block__item producers-block__item--factory">
      Кощаковский<br/>кирпичный завод
    </div>
    <div class="producers-block__item producers-block__item--factory">
      Камастройиндустрия
    </div>    
    <div class="producers-block__item producers-block__item--factory">
      ККСМ
    </div>    
    <div class="producers-block__item producers-block__item--kdsk">
      КДСК
    </div>
  </div>
</div>