<div class="promitions">
  <ul class="promotions__list">
    <li class="promotions__item" >
      <div class="promotions__item__cover" style="background-image: url('images/media/prom_background.jpg')"></div>
      <div class="promotions__item__info">
        <header class="promotions__item__header">
          <h2>Проекты домов</h2>
        </header>
        <div class="promotions__item__description">
          Выбери свой и построй сам
        </div>
      </div>
    </li>
    <li class="promotions__item">
      <div class="promotions__item__cover" style="background-image: url('images/media/prom_background_2.jpg')"></div>
      <div class="promotions__item__info">
        <header class="promotions__item__header">
          <h2>При покупке кирпича - цемент в подарок</h2>
        </header>
        <div class="promotions__item__description">
          Выгода до 10000 руб
        </div>
        <footer class="promotions__item__footer">
          Действует до 31.09.2016
        </footer>
    </div>
    </li>
  </ul>
</div>
