<div class="second-navbar">
  <ul class="second-navbar__list">
    <li class="second-navbar__item">
      <a href="#">Наша команда</a>
    </li>
    <li class="second-navbar__item">
      <a href="#">Наши партнеры</a>
    </li>
    <li class="second-navbar__item">
      <a href="#">Регионы присутствия</a>
    </li>
    <li class="second-navbar__item">
      <a href="#">Вакансии</a>
    </li>
    <li class="second-navbar__item">
      <a href="#">Дипломы и сертификаты</a>
    </li>
    <li class="second-navbar__item">
      <a href="#">Художественная студия</a>
    </li>
  </ul>
</div>
