
.abc-form
  // padding: 40px 60px 50px 40px
  max-width: 530px
  height: 100%
  background: $white
  
  &--

  &__header
    padding-bottom: 40px

    h2,h3
      text-align: center

    h2
      font-size: 34px

    h3
      font-size: 16px
      color: $gray-two

    h2 + h3
      margin-top: 15px

  &__field

    input[type="text"], textarea
      width: 100%
      font-size: 20px
      padding: 0 25px
      border: $gray-two
      border-bottom: none
      outline: none

    input[type="text"]
      height: 55px

    textarea
      padding-top: 20px
      padding-bottom: 20px
      height: 100px
      margin-bottom: -3px
        
  +below(680px)
    padding-right: 10px
    padding-left: 10px