
.abc-form
  // padding: 40px 60px 50px 40px
  max-width: 530px
  height: 100%
  background: $white
  
  &__header
    padding-bottom: 40px

    h2,h3
      text-align: center

    h2
      font-size: 34px

    h3
      font-size: 16px
      color: $gray-two

    h2 + h3
      margin-top: 15px
      
  &__success
    margin: 0 auto
    width: 175px
    height: @width
    border: 3px solid $gray-eight
    border-radius(@width)
    background: img-url('icons/form-success.svg') no-repeat center center
    background-size: 95px 70px
    
  &__close
    margin-top: 70px

  &__field

    input[type="text"], textarea
      width: 100%
      font-size: 20px
      padding: 0 25px
      border: $gray-two
      border-bottom: none
      outline: none

    input[type="text"]
      height: 55px
      
      &.error
        color: $red
        background: img-url('icons/x-red.png') no-repeat right 25px center

    textarea
      padding-top: 20px
      padding-bottom: 20px
      height: 100px
      margin-bottom: -3px
      
      &.error
        color: $red
        background: img-url('icons/x-red.png') no-repeat right 25px top 25px
      
    .help-block
      display: none
      
    &__success-btn
      height: 55px
      line-height: @height
      background: $green-four
      text-align: center
      color: $white
      font-size: 20px
      
      &__icon
        display: inline-block
        width: 24px
        height: 16px
        background: img-url('icons/form-success-white.svg') no-repeat center center
        background-size: contain
        

  +below(680px)
    padding-right: 0
    padding-left: 0
    
    &--popup &__header h2
      font-size: 28px
      
    &--popup &__field
      
      input[type="text"]
        padding: 0 15px
        
        &.error
          background-position: right 15px center
          
      textarea
        padding-right: 15px
        padding-left: 15px
        height: 135px
        
        &.error
          background-position: right 15px top 25px
          