
.anketa-form
  center(720px)
  padding-bottom: 70px
    
  &__header
    text-align: center
    margin-bottom: 30px
    
    h3
      display: inline-block
      padding-bottom: 2px
      border-bottom: 3px $green solid
      font-size: 34px
      text-align: center
      
  &__field
    margin-bottom: 10px
    height: 56px
    line-height: @height
    clearfix()
    
    +below(600px)
      text-align: center
    
    input[type="text"]
      col(410/720, offset: 10/720, gutter: 0)
      display: inline-block
      float: none
      padding: 0 15px
      height: 56px
      line-height: normal

      &.error
        color: $red
        background: img-url('icons/x-red.png') no-repeat right 15px center
      
      +below(600px)
        col(1/1, gutter: 0)
        display: block
        text-align: left
        
    label
      col(300/720, gutter: 0)
      display: inline-block
      float: none
      line-height: normal
      vertical-align: middle
      
      +below(600px)
        col(1/1, gutter: 0)
        display: block
        padding: 10px 0
        text-align: left
        
    &--submit
      margin-top: 70px
      text-align: center
      
  &__field + &__header
    margin-top: 50px
    
  &__helper
    margin-top: 17px
    font-size: 18px
    color: $gray-two