
.ask
  margin-top: 5px
  padding-top: 40px
  padding-left: 55px
  height: 560px
  background: $gray img-url("media/house_pic.jpg") no-repeat right bottom
  
  &__form
    padding: 40px 60px 50px 40px
    width: 530px
    height: 475px
    background: $white
    
    &__header
    
      h2,h3
        text-align: center
      
      h2
        font-size: 34px
      
      h3
        font-size: 16px
        color: $gray-two
      
      h2 + h3
        margin-top: 15px
        
    &__field
      
      input[type="text"], textarea
        width: 100%
        font-size: 20px
        padding: 0 25px
        border: $gray-two
        border-bottom: none
        outline: none
        
      input[type="text"]
        height: 55px
        
      textarea
        padding-top: 20px
        padding-bottom: 20px
        height: 100px
        margin-bottom: -3px