
.carousel
  position: relative

  &__item
    position: relative
    height: 585px
    overflow: hidden

    img
      align()

    &__title
      position: absolute
      bottom: 0
      padding-left: 30px
      padding-right: 180px
      width: 100%
      background-color: $white-80

      h1
        min-height: 80px
        height: auto
        line-height: 34px
        padding: 20px 0
        font-size: 34px
        font-weight: 500


  &__arrows
    position: absolute
    bottom: 0
    right: 0
    font-size: 0px

    &__item
      display: inline-block
      width: 80px
      height: @width
      background-color: $white
      cursor: pointer

      &:hover
        background-color: $gray

      &--left
        background-image: img-url('icons/arrow-left.svg')
        background-repeat: no-repeat
        background-position: center center


      &--right
        background-image: img-url('icons/arrow-right.svg')
        background-repeat: no-repeat
        background-position: center center

  +above(1920px)

    &__item
      height: 792px

    &__item img
      width: 100%

  +below(1280px)
    &__item img
      height: 100%

  +below(980px)

    &__item

      &__title
        display: none

    &__arrows
      bottom: 50%
      width: 100%

      &__item
        background-color: transparent

        &:hover
          background-color: transparent

        &--left
          float: left

        &--right
          float: right

  +below(450px)

    &__item
      height: 415px

    img.carousel__item__desk-img
      display: none

    img.carousel__item__mob-img
      width: auto
      height: 100%

  +above(450px)

    img.carousel__item__mob-img
      display: none
