
.catalog-page
  margin-top: 65px
  padding-top: 115px
  padding-bottom: 120px
  background: $gray
  
  & input[type="radio"].catalog-page__filter-dd
  & input[type="radio"].catalog-page__filter-dd + label
    position: absolute
    opacity: 0
    z-index: -1

  &__sidebar
    position: absolute
    margin-bottom: 10px
    padding-top: 65px
    width: 250px
    
  &__topbar
    margin-left: 270px


  &__showcase
    margin-top: 10px
    margin-left: 270px

    &__item
      col(420/850, 2, offset: 0, gutter: 1%)
      margin-bottom: 10px

  +below(980px)
    margin-top: 0
    padding-top: 25px
  
    & input[type="radio"].catalog-page__filter-dd
      
      & + label
        position: relative
        opacity: 1
        z-index: 0
        col(470/960, offset: 0, gutter: 1%)
        padding-right: 20px
        padding-left: 10px
        height: 50px
        line-height: @height
        background: $white img-url('icons/arrow-bottom.png') no-repeat right 5px center
        box-shadow: 0 4px 6px 0 $dark-gray
        
      &--right + label
        float: right
        margin-right: 0

      &:checked + label
        background-image: img-url('icons/arrow-top.png')
        
        &::after
          display: block
          content: ""
          position: absolute
          top: 100%
          left: 0
          width: 100%
          height: 10px
          background: $white
          box-shadow: 0 4px 4px 0px $dark-gray
        
    & input[type="radio"].catalog-page__filter-dd:checked + label + &__sidebar,
    & input[type="radio"].catalog-page__filter-dd:checked + label + &__topbar
      display: block
    
    &__sidebar,
    &__topbar
      display: none
      float: none
      position: absolute
      top: 58px
      right: 10px
      left: 10px
      padding: 10px 0
      width: auto
      z-index: 1
      box-shadow: 0 4px 6px 0 $dark-gray
      background: $white

    &__topbar
      margin-left: 0

    &__showcase
      span(1/1)
      
  +below(680px)
  
    &__showcase__item
      span(1/1)
      
  +below(400px)
    
    & input[type="radio"] + label
      font-size: 14px
    
      