
.certificates
  background: $white
  padding: 20px 0
  clearfix()

  +below(400px)
    padding: 10px 0

  &__item
    col(300/1000, 3, cycle: 3, offset: 0, gutter: 5%)
    display: block
    background: $gray
    margin-bottom: 20px
    text-align: center
    cursor: pointer

    +below(980px)
      col(490/1000, uncycle: 3, cycle: 2, offset: 0, gutter: 2%)
      text-align: center

    +below(400px)
      span(1/1)
      text-align: center
      margin-bottom: 10px
