
.contacts
  padding-top: 200px
  background: img-url("media/LYB_SFL1.jpg") no-repeat center top
  background-size: contain

  &__wrapper
    center(1140px)

  &__content
    padding: 25px 70px
    background: $white

  &__main-phones
    margin-top: 25px
    height: 230px
    text-align: center

    h3,
    p
      font-size: 28px

    p
      margin-top: 20px
      font-weight: 700

    h4
      font-size: 12px

  &__tabs

    &__menu
      display: table
      text-align: center
      font-size: 18px

      &__item
        display: table-cell
        padding: 0 30px
        width: 198px
        height: 60px
        border: 2px $gray solid
        line-height: 1.5rem
        vertical-align: middle

        &--active
          position: relative
          background: $gray

          &::after
            display: block
            content: ""
            position: absolute
            top: 100%
            left: -2px
            right: -2px
            width: 200px
            height: 4px
            background: $gray

        & + &
          margin-left: 2px

    &__content
      margin: 0 -70px
      margin-top: 2px
      padding: 90px 140px
      min-height: 380px
      background: $gray img-url("icons/compas.svg") no-repeat right -60px bottom -60px
      clearfix()

      &__col
        float: left
        width: 400px

        h2
          font-weight: 700
          font-size: 28px

        table
          margin-top: 10px

        td
          padding-top: 15px
          padding-right: 10px
          vertical-align: top
