.dealer-popup
  padding: 0 25px 25px
  height: 100%
  background: $gray
  clearfix()
  
  &__header
    padding-top: 20px
    min-height: 100px
    border-bottom: 1px solid $green-four
    background: img-url("icons/factory-dealer.svg") no-repeat left top 4px 
    background-size: 77px 67px
    
    h2
      padding: 25px 90px
      font-size: 24px
      text-align: center

  &__about,
  &__contacts
    padding-top: 50px
    line-height: 1.4rem

  &__about
    padding-right: 30px
  &__contacts
    padding-left: 30px

  &__contacts
    &__address
      font-size: 20px
      font-weight: 700
      line-height: 1.4rem

  table
    margin-top: 10p
  td
    padding-top: 15px
    padding-right: 10px
    vertical-align: top

  &__about,
  &__contacts
    span(1/2)

  +below(680px)
    padding-right: 15px
    padding-left: 15px
    
    &__header
      background-position: top center
      padding-top: 80px
      
      h2
        padding: 15px 0

    &__about,
    &__contacts
      float: none
      width: 100%
      padding: 15px 0
