
.dealers
  
  p
    font-size: 22px
    
  ul
    margin-left: 40px
    padding: 35px 0
    list-style: square inside img-url("icons/square-blue.svg")
    
  li
    font-size: 18px
    
  li + li
    margin-top: 24px
    
  &__action
    margin-top: 60px
    
  &__phones
    margin: 0 -70px
    margin-top: 65px
    padding: 35px 70px
    background: $gray
    
    h2
      font-size: 34px
      
    &__row
      margin-top: 45px
      margin-bottom: 50px
      clearfix()
      
    &__col
      col(235/1000, 20/1000, offset: 0)
      
      &--name
        font-size: 22px
        
  &__list
    position: relative
    margin-top: 140px
    margin-bottom: 110px
    clearfix()
    
  &__item
    col(235/1000, 20/1000, offset: 0)
    display: block
    position: relative
    margin-top: 20px
    padding: 5px
    height: 110px
    border: 1px solid $gray-two
    
    img
      align()
      max-width: 90%
      
  &__popup
    display: none
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    padding: 35px
    background: $gray
    
    &:target
      display: block
    
    &__close
      position: absolute
      top: 10px
      right: 10px
      
    &__about
      padding: 75px 70px 75px 50px
      
    &__contacts
      padding: 75px 50px 75px 0
      
      &__address
        font-size: 20px
        font-weight: 700
      
    h2
      font-size: 24px
      text-align: center
      
    table
      margin-top: 10px

    td
      padding-top: 15px
      padding-right: 10px
      vertical-align: top

      
    &__about,
    &__contacts
      span(1/2)
            
  +below(980px)
  
    ul
      margin-left: 15px
    
    &__item
      col(97/300, 1/300, offset: 0)
      
    &__list
      margin-top: 25px
      margin-bottom: 55px
      
    &__phones
      margin: 0
      margin-top: 40px
      
      &__row
        margin-top: 0
        margin-bottom: 30px
      
      &__col
        col(175/370, 10/370, offset: 0)
        margin-top: 40px
        height: 45px
      
  +below(400px)

    &__phones
      
      h2
        text-align: center
        
      &__col
        span(1/1)
        height: auto
        text-align: center
      
    &__item
      col(175/370, 10/370, offset: 0)
      margin-top: 10px
      