
.dealers

  p
    font-size: 22px

  ul
    margin-left: 40px
    padding: 35px 0
    list-style: square inside img-url("icons/square-blue.svg")

  li
    font-size: 18px

  li + li
    margin-top: 24px

  &__action
    margin-top: 60px

  &__phones
    margin: 0 -70px
    margin-top: 65px
    padding: 35px 70px
    background: $gray

    h2
      font-size: 34px

    &__row
      margin-top: 45px
      margin-bottom: 50px
      clearfix()

    &__col
      col(235/1000, 4, offset: 0, gutter: 2%)

      &--name
        font-size: 22px

  &__list
    position: relative
    margin-top: 140px
    margin-bottom: 110px
    clearfix()

  &__item
    col(235/1000, 4, offset: 0, gutter: 2%)
    display: block
    position: relative
    margin-top: 20px
    padding: 5px
    height: 110px
    border: 1px solid $gray-two

    img
      align()
      max-width: 90%

  +below(980px)

    ul
      margin-left: 15px

    &__item
      col(96/300, uncycle: 4, cycle: 3, offset: 0, gutter: 2%)

    &__list
      margin-top: 25px
      margin-bottom: 55px

    &__phones
      margin: 0
      margin-top: 40px

      &__row
        margin-top: 0
        margin-bottom: 30px

      &__col
        col(175/370, cycle: 2, uncycle: 4, offset: 0)
        margin-top: 40px
        height: 45px

  +below(400px)

    &__phones
      padding-right: 40px
      padding-left: 40px

      h2
        text-align: center

      &__col
        span(1/1)
        height: auto
        text-align: center

    &__item
      col(185/370, uncycle: 3, cycle: 2, offset: 0)
      margin-top: 10px
      height: 85px

    &__action
      font-size: 14px
