
.destinations
  clearfix()
  margin-top: 5px
  background: $gray

  &__item
    span(1/4)
    height: 285px
    padding-top: 140px

    &--bricks
      background: img-url("icons/bricks.svg") no-repeat center bottom 170px

    &--factories
      background: img-url("icons/factory.svg") no-repeat center bottom 170px

    &--clients
      background: img-url("icons/icon-clients.svg") no-repeat center bottom 170px
      background-size: 80px auto

    &--houses
      background: img-url("icons/house.svg") no-repeat center bottom 170px

    &__title,
    &__sub
      text-align: center

    &__title
      font-size: 34px
      font-weight: 700

    &__sub
      font-size: 16px

    &__title + &__sub
      margin-top: 5px
  
  +below(980px)
  
    &__item
      span(1/2)

  +below(400px)
    
    &__item
      span(1/1)