
.geo-sale
  margin-top: 5px
  
  &__header 
    height: 115px
    
    h2
      line-height: 115px
      font-size: 34px
      text-align: center
      
   &__map
     position: relative
     height: 345px
     overflow: hidden
  
     img
       position: absolute
       width: 100%
       height: 100%
      
     &__marker
       position: absolute
       top: 40px
       left: 100px
    
    