
.good
  position: relative
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden

  &::before
    display: block
    content: ""
    padding-top: 60%
    background: linear-gradient(bottom, $white 0%, $white 20%, $white-70 50%, $white-0 100%)

  &__content
    position: absolute
    bottom: 0
    display: block
    padding: 10px
    padding-bottom: 46px
    width: 100%
    min-height: 160px
    clearfix()

  &__img
    position: absolute
    width: 40%
    max-width: 220px
    max-height: 183px
    height: 100%

    &__frame
      position: absolute
      bottom: 0
      width: 100%
      background: linear-gradient(bottom, $gray, $white)

      &::before
        display: block
        content: ""
        padding-top: 83%

      img
        align()
        max-width: 100%
        max-height: 100%

  &__description,
  &__title,
  &__add-cart
    padding-left: 45%
    width: 100%

  &__title
    display: block
    display: -webkit-box
    font-size: 16px
    line-height: 18px
    font-weight: 700
    word-wrap: break-word
    height: 90px
    overflow: hidden
    text-overflow: ellipsis
    -webkit-line-clamp: 5;
    box-orient: vertical;

  &__description
    margin-top: 10px

    &>tbody>tr
      height: 20px

    &>tbody>tr>td
      width: 50%

    &>tbody>tr>td:first-child
      padding-right: 12px

    &>tbody>tr>td:last-child
      min-width: 90px
      padding-right: 12px
      font-size: 18px
      font-weight: 700

  &__add-cart
    position: absolute
    bottom: 0
    margin-top: 5px

  +below(450px)
    background-position center bottom 120px
    min-height: 350px

    &::before
      padding-top: 230px

    &__content
      position: absolute
      min-height: 290px
      padding-bottom: 66px

    &__img
      width: 45%
      height: auto
      bottom: 130px

    &__title
      height: 200px
      font-size: 18px
      line-height: 20px
      -webkit-line-clamp: 10;
      padding-left: 55%

    &__description
      margin-top: 20px
      padding-left: 0
      width: 100%

      &>tbody>tr>td:first-child
        text-align: right

    &__add-cart
      bottom: 20px
      clear: both
      float: none
      margin-top: 15px
      padding-left: 0
      width: 100%
      text-align: center

  +below(400px)

    &__title
      height: 180px
      font-size: 16px
      line-height: 18px
      -webkit-line-clamp: 10
