
.good-page
  clearfix()
  margin-bottom: 50px
  
  &__col
    col(540/1110, 2, offset: 0, gutter: 1%)
    
    &--right
      padding: 25px
      background: $white
    
  &__cover
    position: relative
    padding-top: 45%
    background-repeat: no-repeat
    background-size: cover
    
    img
      position: absolute
      bottom: 20px
      left: 20px

  &__prop
    margin: 20px 0
    
    table
      width: 100%

    td
      height: 35px
      line-height: @height
      border-bottom: 1px solid $gray-two
            
      &:first-child
        text-align: left
        color: $gray-two
        
      &:last-child
        text-align: right
        
    tr:first-child 
      
      & td
        border-color: $black

        &:last-child
          font-size: 24px
    
      & + tr td
        padding-top: 35px
        
  &__warehouse
    margin: 20px 0
    padding: 20px 0
    
    &__form
      
      &__frame
        padding: 20px
        border: 2px solid $black
        
      h3
        text-align: center
        font-size: 16px
        color: $gray-two
        
      &__field
        margin-top: 25px
        text-align: center
        
        label
          display: inline-block
          position: relative
          margin-bottom 15px
          padding-left: 35px
          padding-right: 10px
          height: 20px
          line-height: @height 
          cursor: pointer
          
          &::before
            display: block
            content: ""
            position: absolute
            top: 0
            left: 10px
            width: 20px
            height: @width
            border: 1px solid $gray-two
            border-radius: 3px
            
        input[type="radio"]
          position: absolute
          opacity: 0
          z-index: -1
          
          &:disabled + label
            color: $gray-two
            
          &:checked + label:before
            background: img-url("icons/check-icon.svg") no-repeat center center
            
  +below(980px)
    
    &__col
      span(1/1)
          

  +below(680px)
  
    &__warehouse__form__field 
      
      label
        display: block
        text-align: left
