
.good-page
  clearfix()
  margin-bottom: 50px
  
  &__header
    padding-top: 45px
    padding-bottom: 20px
    max-width: 800px

    h1
      font-weight: 700
      font-size: 34px
      line-height: 50px
      color: $black
      
    &__back
      margin-top: 25px
      
      a
        display: inline-block
        padding: 10px
        padding-left: 40px
        font-size: 16px
        background: $white img-url("icons/arrow-left-green.svg") no-repeat left 10px center
  
  &__col
    col(540/1110, 3, offset: 0, gutter: 1%)
    
    &--right
      padding: 25px
      background: $white
    
  &__cover
    position: relative
    padding-top: 45%
    background-repeat: no-repeat
    background-size: cover
    
    img
      position: absolute
      bottom: 20px
      left: 20px

  &__prop
    margin: 20px 0
    
    table
      width: 100%

    tr
      display: flex
      justify-content: space-between
      border-bottom: 1px solid $gray-two
      
      &:first-child
        border-color: $black
        margin-bottom: 35px

        & td

          &:last-child
            font-size: 24px
            
          &:first-child
            font-size: 16px

    td
      display: block
      padding: 10px 0
      line-height: 1.2rem
            
      &:first-child
        padding-right: 5px
        text-align: left
        color: $gray-seven
        
      &:last-child
        padding-left: 5px
        text-align: right      
            
  &__warehouse
    margin: 20px 0
    padding: 20px 0
    
    &__form
      
      &__frame
        padding: 20px
        border: 2px solid $black
        
      h3
        text-align: center
        font-size: 16px
        color: $gray-seven
        
      &__field
        margin-top: 25px
        text-align: center
        
        label
          display: inline-block
          position: relative
          margin-bottom 15px
          padding-left: 35px
          padding-right: 10px
          height: 20px
          line-height: @height 
          cursor: pointer
          
          &::before
            display: block
            content: ""
            position: absolute
            top: 0
            left: 10px
            width: 20px
            height: @width
            border: 1px solid $gray-two
            border-radius: 3px
            
        input[type="radio"]
          position: absolute
          opacity: 0
          z-index: -1
          
          &:disabled + label
            color: $gray-seven
            
          &:checked + label:before
            background: img-url("icons/check-icon.svg") no-repeat center center
            
  +below(980px)
    display: flex
    flex-direction: column
    padding: 15px 5px
    
    &__header
      padding: 30px 0
      max-width: initial
      order: 2
      
      h1
        font-size: 22px
        line-height: 2rem
        
      &__back
        display: none
    
    &__col
      float: none
      margin-right: 0
      margin-left: 0
      width: 100%
      order: 1
      
      &--right
        order: 3
        
      &:nth-child(3n)
        float: none          

  +below(680px)
  
    &__col--right
      padding: 0 15px
      
    &__warehouse__form__field
      
      label
        display: block
        text-align: left
        
  +below(400px)
    
    &__prop 
      
      td
        font-size: 14px

      tr:first-child 
        margin-bottom: 25px