
.header
  position: fixed
  top: 0
  width: 100%
  height: 131px
  z-index: 1

  &__logo
    position: absolute
    top: 0
    left: 0
    padding-top: 30px
    padding-left: 60px
    height: 100%
    background-color: $white

    &::after
      display: block
      content: ""
      position absolute
      top: 0
      left: 100%
      height: 100%
      width: 100px
      background: linear-gradient(left, $white, $white-0)
      
  &__menu
    margin-left: 230px
    background-color: $white-80
    
  &__checkbox
    display: none
    
  +below(1260px)
    
    &__menu
      margin-left: 200px

  +below(980px)
    position: static
    height: 100%
    z-index: 0
    
    &__menu
      position: absolute
      margin-left: 0
      width: 100%
      overflow-x: hidden
      background-color: $white
      transition: width .2s ease-in-out
    
    &__logo
      position: static
      padding-top: 10px
      padding-left: 0
      width: 100%
      height: 100px
      text-align: center
      
      &::after
        display: none
      
    &__checkbox
      display: block
      position: absolute
      top: 0
      z-index: 1
      
    &__checkbox:checked + &__menu
      width: 100%