
.header
  position: fixed
  top: 0
  width: 100%
  height: 131px
  z-index: 10
  transition: height .2s linear

  &__logo
    position: absolute
    top: 0
    left: 0
    padding: 30px 0
    padding-left: 60px
    width: 230px
    height: 100%
    background-color: $white
    transition: all .2s linear

    &>a
      display: block
      width: 100%
      height: 100%
      background: img-url('icons/logo.svg') no-repeat center center
      background-size: contain

    &::after
      display: block
      content: ""
      position absolute
      top: 0
      left: 100%
      height: 100%
      width: 100px
      background: linear-gradient(left, $white, $white-0)

  &__cart
    display: none

  &__menu
    margin-left: 230px
    background-color: $white-80

    &--solid
      background-color: $white

  &__checkbox
    display: none

  +above(980px)
    &--sticky
      height: 65px
      background: $white

    &--sticky &__logo
      padding-top: 10px
      padding-right: 65px
      padding-bottom: 10px
      width: 230px
      height: 100%

    &--sticky &__menu

      & .topbar
        padding-top: 0
        padding-bottom: 0
        max-height: 0
        opacity: 0
                
      & .navbar
        padding-left: 170px
        
        &__item
          padding-left: 2%
          padding-right: 2%
          
          &--catalog
            z-index: 0
            opacity: 1
            
  +between(980px, 1040px)
    
    &--sticky &__menu
      
      & .navbar
        
        &__item
          padding-left: 1%
          padding-right: 1%    

  +below(1260px)

    &__menu
      margin-left: 200px

  +below(980px)
    position: static
    height: 85px
    z-index: 0

    &__cart
      display: block
      position: absolute
      top: 25px
      right: 15px
      z-index: 10

    &__menu
      top: 85px
      margin-left: 0
      width: 100%
      overflow-x: hidden
      background-color: $white

    &__logo
      position: static
      padding-top: 10px
      padding-left: 0
      width: 100%
      height: 100px
      text-align: center

      &::after
        display: none

    &__checkbox
      display: block
      position: absolute
      top: 0
      z-index: 1

    &__checkbox:checked + &__menu
      width: 100%

.slideout-open body
  padding-top: 85px

.slideout-open .header
  position: fixed
