
.logo
  max-width: 170px
  max-height: 75px
  background: img-url('icons/logo.svg') no-repeat top,
              img-url('icons/company_name.svg') no-repeat bottom
  background-size: contain

  +below(980px)
    display: inline-block
    width: 115px
    height: 50px

  &--sm
    display: inline-block
    width: 120px
    height: 50px

.logo-white
    width: 115px
    height: 35px
    background: img-url('icons/logo-white.svg') no-repeat top
