
.markups
  line-height: 1.5rem

  h2
    font-size: 28px
    line-height: 2rem

  p + h2,
  h2 + h2
    margin-top: 65px

  h2 + p
    margin-top: 30px

  p + p
    margin-top: 35px
    
  +below(400px)
    
    h2
      font-size: 22px

