
.modal
  
  &__dialog
    align()
    position: fixed
    padding: 25px
    padding-top: 70px
    width: 65%
    height: 70%
    background-color: $white
    
    &--form
      padding: 50px 65px 65px
      max-width: 540px
      min-height: 515px
    
  &__photo
    position: relative
    height: 100%
    
    img
      align()
      max-width: 100%
      max-height: 100%
    
  +below(680px)
  
    &__close
      top: 10px
      right: 10px
    
    &__dialog
      padding: 40px 15px 15px
      width: 95%
      height: 50%
      max-height: 310px
      
      &--form
        min-height: 475px
        max-height: initial
        height: auto

.mfp-bg.popup-call-override
  background: $dark-70
    
.mfp-bg.popup-photo-override
  background: $white-70

button.mfp-close
  display: block
  position: absolute
  top: 25px
  right: 25px    
  width: 21px
  height: @width
  border-radius: @width
  border: 0
  outline: 0
  background: $gray-two img-url("icons/close.svg") no-repeat center center
  font-size: 0
  
  &:active
    top: 25px
    
  +below(680px)
    top: 10px
    right: 10px
    
    &:active
      top: 10px    