
.navbar
  padding-left: 60px
  padding-right: 35px
  
  &__list
    margin-left: 9%
    clearfix()

  &__item
    position: relative
    float: left
    padding: 0 3%
    height: 65px
    line-height: @height
    list-style-type: none
    
    &__secondary
      display: none
    
    &:hover>&__secondary,
    &>a:hover + &__secondary
      display: block

    &>a:hover
      color: $black-two

    &--active>a,
    &>a:hover,
    &>a:active
      
      &::after
        display: block
        content: ""
        position: absolute
        bottom: 20px
        right: 25px
        left: 25px
        height: 2px
        background-color: $green

    &>a
      display: block
      font-size: 18px
      font-weight: 500
      cursor: pointer

    &--cart
      float: right
      width: 150px
      padding: 0
      
      &.navbar__item--active
        background-color: $gray
      
      &.navbar__item--active>a,
      &>a:hover,
      &>a:active
        color: $black
        
        &::after
          display: none


      &>a
        padding-left: 50px
        padding-right: 20px
        font-size: 16px
        font-weight: 300
        color: $dark-gray
        background: img-url("icons/cart.svg") no-repeat left 25px center

    &__notify
      position: absolute
      top: 15px
      left: 20px
      width: 17px
      height: @width
      border-radius(@width)
      background-color: $green
      color: $white
      font-size: 11px
      line-height: @height
      text-align: center

    &--active,
    &:hover
      &::after
        right: 10px
        left: 10px

    &>a
      font-size: 18px
      font-weight: 500
      
  &--page
    padding: 0
    
  &--page &__list
    margin: 0
    text-align: center
    
  &--page &__item
    display: inline-block
    float: none
    padding: 0 1%
    
    a
      font-size: 16px
    
    &--active>a,
    &>a:active,
    &>a:hover
      &::after
        right: 4%
        left: 4%
        
  
      
  +below(1260px)
    
    &--header
      padding-left: 35px
      
    &--header &__list
      margin-left: 3%
      
    &--header &__item
      padding: 0 2%
      
      &--cart
        padding: 0
        width: 70px
        overflow: hidden
        
        a 
          font-size: 0
    
  +below(980px)
    
    &--header
      padding: 20px 35px
    
    &--header &__item
      float: none
      width: 100%
      height: auto
      line-height: 40px
      text-align: center
      
      &__secondary
        display: block
      
      &--cart
        display: none
              
      &--active>a,
      &>a:hover,
      &>a:active
        color: $green
        
        &::after
          display: none
        