
.navbar
  padding-left: 60px
  padding-right: 35px
  
  &__list
    margin-left: 9%
    clearfix()

  &__item
    position: relative
    float: left
    padding: 0 3%
    height: 65px
    line-height: @height
    list-style-type: none
    
    &__secondary
      display: none
    
    &>a:hover + &__secondary
      display: block

    &>a:hover,
    &>a:active
      &::after
        display: block
        content: ""
        position: absolute
        bottom: 20px
        right: 25px
        left: 25px
        height: 2px
        background-color: $green

    &>a
      display: block
      font-size: 18px
      font-weight: 500
      cursor: pointer

    &--cart
      float: right
      background: img-url("icons/cart.svg") no-repeat left center


      &>a
        font-size: 16px
        font-weight: 300
        color: $dark-gray

    &__notify
      position: absolute
      top: 15px
      left: -5px
      width: 17px
      height: @width
      border-radius(@width)
      background-color: $green
      color: $white
      font-size: 11px
      line-height: @height
      text-align: center

    &--active,
    &:hover
      &::after
        right: 10px
        left: 10px

    &>a
      font-size: 18px
      font-weight: 500
      
  &--page
    padding: 0
    
  &--page &__list
    margin: 0 5%
    text-align: center
    
  &--page &__item
    display: inline-block
    float: none
    padding: 0 1%
    
    &>a:active,
    &>a:hover
      &::after
        right: 4%
        left: 4%
        
  
      
  +below(1260px)
    
    &--header
      padding-left: 35px
      
    &--header &__list
      margin-left: 3%
      
    &--header &__item
      padding: 0 2%
    
  +below(980px)
    
    &--header  
    
    &--header &__item
      float: none
      width: 100%
      height: auto
      text-align: center
      
      &__secondary
        display: block
      
      &--cart
        display: none
              
      &>a:hover,
      &>a:active
        color: $green
        
        &::after
          display: none
        