
.navigation-checkbox-label

  +below(980px)
    display: block
    position: fixed
    top: 0
    left: 0
    width: 70px
    height: 70px
    z-index: 10
    cursor: pointer
    background: $white img-url("icons/burger.png") no-repeat center center
    background-size: 25px auto
                

    &--open
      background: img-url("icons/rectangle-1.svg") no-repeat center center,
                  img-url("icons/rectangle-2.svg") no-repeat center center

