
.news-list
  padding: 50px 0
  column-width: 290px
  column-count: 3
  column-gap: 40px  
  
  &__item
    display: inline-block
    margin-bottom: 40px
    padding: 20px
    width: 100%
    background: $gray
    cursor: pointer
    
    &__publish-date
      font-size: 16px
      
    &__title
      margin-top: 25px
      font-size: 24px
      word-wrap: break-word
      
      a:hover
        color: $black-two

    &__cover
      margin: 0 -20px
      margin-top: 40px
      margin-bottom: -20px
      
      img
        width: 100%
  
  +below(620px)
    column-count: 2
    
  +below(480px) 
    margin: 0
    column-count: 1     