
.page
  padding-top: 150px
  background: $gray
  
  &--anketa
    +below(1260px)
      padding-top: 50px
      
  &--anketa &__content
    +below(1260px)
      margin-top: 50px
      background: $white

  
  &--contacts-bg
    padding-top: 200px
    background: img-url("media/LYB_SFL1.jpg") no-repeat center top
    background-size: contain


  &--about-bg
    padding-top: 200px
    width: 100%
    background: img-url("media/about_cover_1.jpg") no-repeat left top,
                img-url("media/about_cover_2.jpg") no-repeat center top,
                img-url("media/about_cover_3.jpg") no-repeat right top
    background-size: 33.4% auto

    +below(1260px)
      margin-top: 100px
      padding-top: 200px
      background: img-url("media/about_cover_3.jpg") no-repeat 66% top,
                  img-url("media/about_cover_2.jpg") no-repeat 33% top,
                  img-url("media/about_cover_1.jpg") no-repeat left top
      background-size: auto 415px

  &__wrapper
    center(1140px)
    

  &__header
    padding: 20px 70px

    +below(1260px)
      text-align: center

    h1
      font-weight: 700
      font-size: 34px
      color: $white

    &--black h1
      color: $black
      
    &--centered
      text-align: center

    &__breadcrumbs
      +below(1260px)
        display: none


  &__content
    padding: 25px 70px
    background: $white

    +below(1260px)
      margin-top: 140px
      padding: 25px
      background: none
      
  &__nav
    padding: 0 55px

    +below(1260px)
      display: none
