
.page
  padding-top: 150px
  background: $gray
  
  &--anketa
    +below(980px)
      padding-top: 50px
      
  &--anketa &__content
    +below(980px)
      margin-top: 50px
      background: $white
      
  &--dealers-bg
    padding-top: 200px
    background: img-url("media/map_yandex_2.jpg") no-repeat center top
    background-size: contain
    
    +below(980px)
      background-size: auto 415px

  
  &--contacts-bg
    position: relative
    padding-top: 200px
    padding-bottom: 270px
    background: img-url("media/LYB_SFL1.jpg") no-repeat center top
    background-size: contain
    
    +below(980px)
      background-size: auto 415px

    
  &--contacts-bg &__wrapper
    position: relative
    z-index: 1
    
  &--contacts-bg &__content
    padding-bottom: 0

  &--about-bg
    padding-top: 200px
    width: 100%
    background: img-url("media/about_cover_1.jpg") no-repeat left top,
                img-url("media/about_cover_2.jpg") no-repeat center top,
                img-url("media/about_cover_3.jpg") no-repeat right top
    background-size: 33.4% auto

    +below(980px)
      position: relative
      padding-top: 200px
      background: img-url("media/about_cover_1.jpg") no-repeat left top
      background-size: auto 415px
      z-index: 2
      
      &:before
        display: block
        content: ""
        position: absolute
        top: 0
        right: 0
        left: 0
        margin: 0 auto
        width: 33.4%
        height: 100%
        background: img-url("media/about_cover_2.jpg") no-repeat center top
        z-index: -1
        
      &:after
        display: block
        content: ""
        position: absolute
        top: 0
        right: 0
        width: 33.4%
        height: 100%
        background: img-url("media/about_cover_3.jpg") no-repeat center top
        z-index: -1        
      
  &--jobs-bg
    padding-top: 200px
    background: img-url("media/job.jpg") no-repeat center top
    background-size: contain
    
    +below(980px)
      background-size: auto 415px
      
  &--news-bg
    padding-top: 200px
    background: img-url("media/news_bg.jpg") no-repeat center top
    background-size: contain
    
    +below(980px)
      background-size: auto 415px
      
  &--cart-bg
    background: $gray img-url("media/cart_bg.png")
    
  &--team-bg
    padding-top: 200px
    background: img-url("media/team_bg.jpg") no-repeat center top
    background-size: contain
    
    +below(980px)
      background-size: auto 415px
    
  &__wrapper
    center(1140px)
    

  &__header
    padding: 20px 70px

    h1
      font-weight: 700
      font-size: 34px
      line-height: 50px
      color: $white
      
    &__back
      margin-top: 25px
      
      a
        display: inline-block
        padding: 10px
        padding-left: 40px
        font-size: 16px
        background: $white img-url("icons/arrow-left-green.svg") no-repeat left 10px center


    &--black h1
      color: $black
      
    &--centered
      text-align: center
    
    &--cart,
    &--good-page
      padding: 20px 0

  &__content
    padding: 25px 70px
    background: $white
    
  &__gallery
    margin: 25px 0
    margin-right: -30px
    clearfix()
    
    &__item
      col(247/1020, 20/1020, offset: 0)
      
      img
        width: 100%             
    
  +below(1260px)
  
    &__nav
      display: none
      
  +below(980px)
  
    &__content
      margin-top: 140px
      padding: 15px

    &__header
      text-align: center
      
      &__breadcrumbs
        display: none
        
    &__gallery
      margin-right: 0
      
      &__item
        col(475/950, 2, offset: 0)
        margin-bottom: 10px
        
  +below(400px)
    
    &__gallery__item
      span(1/1)
  