
.page
  position: relative
  padding-top: 150px
  background-color: $white
  
  &--search
    padding-top: 65px
  
  &--search &__header
    padding: 45px 0
    background: $gray
    
  &--product
    padding-top: 65px
    background: $gray
  
  &--jobs-bg,
  &--news-bg,
  &--team-bg,
  &--contacts-bg,
  &--dealers-bg
    padding-top: 200px
    
  &--contacts-bg
    padding-bottom: 270px
  
  &--cart-bg
    background: $gray img-url("icons/pattern.svg")
    background-size: 105px auto
          
  &--contacts-bg &__wrapper
    position: relative
    z-index: 2
    
  &--contacts-bg &__content
    padding-bottom: 0
            
  &__bg
    position: absolute
    top: 0
    width: 100%
    height: 415px
    background-size: cover
    background-repeat: no-repeat 
    background-position: center top
    
    &__dark
      width: 100%
      height: 100%
      background: $dark-30

    +below(980px)
      background-size: auto 415px
      
  &--anketa &__bg
    height: 325px
      
  &--gray-bg &__bg
    background-color: $gray
      
  &--dealers-bg &__bg
    background-image: img-url("media/map_yandex_2.jpg")
  
  &--contacts-bg &__bg
    background-image: img-url("media/LYB_SFL1.jpg")
    
  &--jobs-bg &__bg
    background-image: img-url("media/job.jpg")

  &--news-bg &__bg
    background-image: img-url("media/news_bg.jpg")
      
  &--team-bg &__bg
    background-image: img-url("media/team_bg.jpg")

  &--about-bg &__bg
    width: 100%
    background: img-url("media/about_cover_1.jpg") no-repeat left top,
                img-url("media/about_cover_2.jpg") no-repeat center top,
                img-url("media/about_cover_3.jpg") no-repeat right top
    background-size: 33.4% auto

    +below(980px)
      position: absolute
      background: img-url("media/about_cover_1.jpg") no-repeat left top
      background-size: auto 415px
      z-index: 2
      
      &:before
        display: block
        content: ""
        position: absolute
        top: 0
        right: 0
        left: 0
        margin: 0 auto
        width: 33.4%
        height: 100%
        background: img-url("media/about_cover_2.jpg") no-repeat center top
        z-index: -1
        
      &:after
        display: block
        content: ""
        position: absolute
        top: 0
        right: 0
        width: 33.4%
        height: 100%
        background: img-url("media/about_cover_3.jpg") no-repeat center top
        z-index: -1    
    
  &__wrapper
    center(1140px)
    position: relative
    z-index: 3
    

  &__header
    padding: 20px 70px

    h1
      font-weight: 700
      font-size: 34px
      line-height: 50px
      color: $white

    &--black h1
      color: $black
      
    &--centered
      text-align: center
    
    &--cart
      padding: 20px 0

  &__content
    padding: 25px 70px
    background: $white
    
  &__gallery
    margin: 25px 0
    margin-right: -30px
    clearfix()
    
    &__item
      col(247/1020, 20/1020, offset: 0)
      
      img
        width: 100%             
          
  +below(980px)
  
    padding-top: 180px

    &--cart-bg,
    &--product
      padding-top: 0
      
    &--gray-bg
      padding-top: 10px
      
    &--gray-bg &__bg
      display: none
      
    &--cart-bg &__header
      padding: 85px 0
      
    &--gray-bg &__header
      padding: 85px 0
      background: $gray
      
    &--gray-bg &__content
      margin-top: 0
    
    &--anketa
      padding-top: 50px
        
    &--anketa &__content
      margin-top: 50px
      background: $white

    &--search
      padding-top: 25px
      
    &--search &__content
      margin-top: 0
  
    &__content
      margin-top: 140px
      padding: 15px

    &__header
      text-align: center
      
      &__breadcrumbs
        display: none
        
    &__gallery
      margin-right: 0
      
      &__item
        col(475/950, 2, offset: 0)
        margin-bottom: 10px
        
  +below(450px)
    &__nav
      display: none

  +below(400px)
    padding-top: 90px
    
    &--gray-bg
      padding-top: 10px
    
    &--product,
    &--cart-bg
      padding-top: 0
    
    &--search
      padding-top: 25px
      
    &--anketa &__bg
      height: 415px
    
    &__header
      padding-right: 15px
      padding-left: 15px
    
    &__gallery__item
      span(1/1)
  