
.page-header
  padding: 20px 70px

  +below(1260px)
    text-align: center

  h1
    font-weight: 700
    font-size: 34px
    color: $white

  &--black h1
    color: $black

  &__breadcrumbs
    +below(1260px)
      display: none
