
.popular

  &__header
    position: relative
    margin-top: 40px
    min-height: 70px
    padding: 10px 20px

    &>h2
      height: 100%
      font-size: 34px
      text-align: center

    &__catalog
      position: absolute
      right: 20px
      top: 50%
      transform: translateY(-50%)

  &__list
    clearfix()

  &__item
    span(1/2)
    margin-top: 10px

    &:nth-child(2n)
      padding-left: 5px

    &:nth-child(2n+1)
      padding-right: 5px

  +below(980px)
  
    &__header__catalog
      display: none

  +below(680px)
  
    &__item
      span(1/1)
