
.popular

  &__header
    position: relative
    margin-top: 40px
    min-height: 70px
    padding: 10px 20px

    &>h2
      height: 100%
      font-size: 34px
      text-align: center

  &__footer
    position: relative
    height: 135px

    &__catalog
      position: absolute
      top: 50%
      left: 50%
      margin: 0 auto
      transform: translate(-50%, -50%)

  &__list
    clearfix()

  &__item
    col(550/1140, 2, offset: 0, gutter: 3%)
    margin-bottom: 40px

  +below(980px)

    &__header__catalog
      display: none

  +below(680px)

    &__item
      span(1/1)
