
.producers-block
  background: $green

  &__item
    span(1/5)
    height: 125px
    color: $white
    text-align: center

    &--title
      font-size: 24px
      line-height: 125px

      +below(1260px)
        span(1/1)
        text-align: center

    &--factory,
    &--kdsk
      padding-top: 80px
      font-size: 16px

      +below(1260px)
        span(1/2)
        text-align: center

    &--factory
      background: img-url("icons/cube.svg") no-repeat center 20px

    &--kdsk
      background: img-url("icons/kdsk.svg") no-repeat center 20px
