
.promotions
  margin-top: 2px

  &__list
    clearfix()

  &__item
    span(1/2)
    position: relative
    padding: 35px 35px 15px
    height: 170px

    &__info
      position: relative
      width: 270px
      height: 100%

    &__cover
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 2px
      background-repeat: no-repeat
      background-size: cover
      background-position: center right 50%
      z-index: 0

    &__header h2
      font-weight: 700
      font-size: 24px

    &__description
      margin-top: 15px
      font-size: 22px

    &__footer
      position: absolute
      bottom: 0
      
  +below(980px)
  
    &__item
      span(1/1)
      margin-top: 5px
      
      &__header h2
        font-size: 20px
        
      &__description
        font-size: 18px
        
  +below(450px)
    
    &__item
      padding-left: 15px
      padding-right: 15px
      
      &__cover
        background-position: right 60% center


