
.promotions
  margin-top: 2px

  &__list
    clearfix()

  &__item
    position: relative
    float: left
    padding: 35px 0 15px 35px
    width: 50%
    height: 170px

    &__info
      position: relative
      width: 270px
      height: 100%

    &__cover
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 2px
      background-repeat: no-repeat
      background-size: cover
      z-index: -1

    &__header h2
      font-weight: 700
      font-size: 24px

    &__description
      margin-top: 15px
      font-size: 22px

    &__footer
      position: absolute
      bottom: 0
