.promotions-news-cover
  position: relative
  min-height: 225px
  background-size: cover
  background-position: right bottom
  background-repeat: no-repeat
  background-color: $yellow-two
  text-align: left
  
  h1
    font-size: 34px
    font-weight: 700
    color: $white
      
  &__description
    margin-top: 20px
    font-size: 20px
    line-height: 1.5rem
    color: $white
  
  &__gradient
    padding: 40px 450px 50px 130px
    height: 100%
    min-height: 225px
    background: linear-gradient(bottom, $yellow, $yellow-0)
    
  +below(780px)
    
    &__gradient
      padding: 40px
      
  +below(450px)
    background-position: right bottom -30px
    background-size: 250%
    
    h1
      font-size: 28px
      
    &__gradient
      padding: 15px
      min-height: 280px

    &__description
      font-size: 16px
      line-height: 1.2rem
      
  +below(400px)

    h1
      font-size: 20px

    &__description
      font-size: 14px
      
    &__gradient
      min-height: 240px