
.second-navbar
  position: absolute
  top: 65px
  padding: 25px 0
  background-color: $white-80

  &__item
    padding: 0 20px
    height: 35px
    line-height: @height

    &>a
      display: block
      white-space: no-wrap
      font-size: 18px
      font-weight: 500
      cursor: pointer
      
    &--active>a,
    &>a:hover,
    &>a:active
      color: $black-two

      
  +below(980px)
    position: static
    padding: 0
    text-align: center
    
    &__item
      
      &>a
        font-size: 14px
        color: $gray-two
      
      &--active>a,
      &>a:active,
      &>a:hover
        color: $green
      
