
.second-navbar
  position: absolute
  top: 50px
  padding: 25px 0
  background-color: $white-80

  &__item
    padding: 0 20px
    height: 35px
    line-height: @height

    &>a
      display: block
      white-space: no-wrap
      font-size: 18px
      font-weight: 500
      cursor: pointer
