
.social-icon
  display: block
  width: 40px
  height: 40px
  background-color: $gray-four
  background-repeat: no-repeat
  background-position: center center
  
  &--fb
    background-image: img-url("icons/fb-icon.svg")
  
  &--vk
    background-image: img-url("icons/vk-icon.svg")

  &--inst
    background-image: img-url("icons/inst-icon.svg")
    
  &:hover
    background-color: $gray
    opacity: .75