
.topbar-search
  height: 36px

  input
    padding: 0 10px
    width: 36px
    height: 100%
    border: none
    background: $gray img-url("icons/search.svg") no-repeat center center

    &:focus
      width: 72px
      border: none
      outline: none
      background-image: none
