
.topbar
  padding: 15px 25px 15px 345px
  height: 65px
  background-color: $white
  clearfix()
  
  +below(1260px)
    display: none

  &__catalog,
  &__call
    float: left

  &__catalog
    width: 410px

  &__call
    width: 405px
    color: $green

    & span
      padding-left: 25px

  &__search
    float: right
