{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">
    <div class="content">
      <div class="page page--about-bg">
        <div class="page__bg">
          <div class="page__bg__dark"></div>
        </div>
        <div class="page__wrapper">
          <header class="page__header">
            <h1>О компании</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs">
                <div class="breadcrumbs__item">
                  <a href="#">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="#">О компании</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="page__nav">
              <nav class="navbar navbar--page">
                <ul class="navbar__list">
                  <li class="navbar__item">
                    <a href="team.html">Наша команда</a>
                  </li>
                  <li class="navbar__item">
                    <a href="partners.html">Наши партнеры</a>
                  </li>
                  <li class="navbar__item">
                    <a href="regions.html">Регионы присутсвия</a>
                  </li>
                  <li class="navbar__item">
                    <a href="jobs.html">Вакансии</a>
                  </li>
                  <li class="navbar__item">
                    <a href="certificates.html">Дипломы и сертификаты</a>
                  </li>
                  <li class="navbar__item">
                    <a href="producers.html">Заводы производители</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="about-wrapper markups">
              <h2>
                Торговый Дом «Керамик Центр» работает на строительном рынке России с июня 2012 года.
              </h2>
              <h2>
                Это объединенный центр продаж продукции крупнейших производителей строительных материалов Республики Татарстан:
              </h2>
              <p>
                — Кощаковского кирпичного завода (ЗАО «Керамик»)<br />
                — Казанского комбината строительных материалов (ОАО «ККСМ»)<br />
                — Челнинского кирпичного завода «Камастройиндустрия» (ООО «Камастройиндустрия»)<br />
              </p>
              <p>
                <b>Сфера нашей деятельности</b> — лицевой керамический кирпич красный и цветной (кирпич объемного окрашивания), рядовой кирпич, полнотелый и пустотелый, керамический строительный камень 2,1 NF, а также, ЖБИ и бетон.
              </p>
              <p>
                <b>Для удобства клиентов</b> отделы продаж расположены в том числе, на территории Кощаковского и Челнинского заводов. У нас широкая и постоянно растущая дилерская сеть.
              </p>
              <p>
                <b>География продаж нашей продукции</b> — Татарстан, Башкортостан, Нижний Новгород, Сочи, Кировская область, Ульяновская область, Республика Удмуртия, Республика Чувашия, Московская область, Республика Марий Эл, Астраханская область, Оренбургская область, Казахстан и др.
              </p>
              <h2>
                Причины, почему Вам нужно работать именно с нами:
              </h2>
              <p>
                <b>Индивидуальный подход.</b> Каждый покупатель для нас становится особым. Сразу же. С первого момента делового общения. К каждому из Вас мы подходим индивидуально. Все нюансы и мелочи Вашего строительства и финансовых возможностей.
              </p>
              <p>
                <b>Мы не перекупщики.</b> Мы официальный агент по продажам – продаем то, что производим. Просто мы решили разделить продажи и производство. Каждый должен заниматься своим делом.
              </p>
              <p>
                <b>У нас действительно честные цены.</b> К тому же, мы предлагаем множество акций, скидок и бонусов.
              </p>
              <p>
                <b>Гарантия качества.</b> Многоступенчатая проверка на всех этапах производства на заводах, гарантирует качество реализуемого кирпича.
              </p>
              <p>
                <b>Экономим Ваше время.</b> Главная «фишка» Торгового Дома «КерамикЦентр» в том, что Вы можете приобрести все для строительства в одном месте. В чем бы вы ни нуждались для строительства: лицевой керамический кирпич, рядовой кирпич или железобетонные изделия — ассортимент ТД «Керамик Центр» удовлетворит Ваши нужды.
              </p>
              <p>
                <b>Мы работаем быстро.</b> Принцип нашей работы: «От заказа до отгрузки – всего сутки!». По согласованию, мы предоставляем и транспортные услуги.
              </p>
              <p>
                <b>Мы понимаем,</b> что далеко не каждый наш клиент может осуществить доставку кирпича, поэтому занимаемся не только производством, но и предлагаем услуги по доставке кирпича на объект.
              </p>
              <p>
                <b>Мы социально ориентированы.</b> Пенсионеры, инвалиды и многодетные семьи получают дополнительные скидки.
              </p>
              <p>
                <b>У нас компетентные сотрудники.</b> Вы всегда получите профессиональные рекомендации по всем товарам, вам помогут просчитать необходимое количество кирпича того или иного вида для Вашего строительства, с учетом применяемой кладки. Вы получите полную информацию о текущих акциях и предложениях.
              </p>
              <p>
                <b>Удобство расчетов.</b> Мы работаем, как по наличному, так и по безналичному расчету и принимаем к оплате банковские карты. Также, у нас можно оформить кредит.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
{% endblock %}
