{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">    
    <div class="content">
      <div class="page page--cart-bg">
        <div class="fluid-wrapper">
          <header class="page__header page__header--black page__header--cart">
            <h1>Корзина</h1>
          </header>
          <div class="cart">
            <header class="cart__header">
              <div class="cart__item-col"><h2>Наименование</h2></div>
              <div class="cart__count-col"><h2>Количество</h2></div>
              <div class="cart__price-col"><h2>Цена</h2></div>
            </header>
            <form class="cart__content">
              <div class="cart__item">
                <button class="cart__item__remove"></button>
                <div class="cart__item-col">
                  <div class="cart__item__info">
                    <div class="cart__item__info__cover">
                      <img src="images/media/kirpichi_pr.jpg">
                    </div>
                    <div class="cart__item__info__prop">
                      <div class="cart__item__info__prop__title">Кирпич керамический одинарный пустотелый (1НФ)</div>
                      <div class="cart__item__info__prop__price">13,20 руб/шт</div>
                    </div>
                  </div>
                </div>
                <div class="cart__count-col">
                  <div class="cart__item__count">
                    <input type="number" name=""><br/>
                    <div class="cart__item__count__measure">штук</div>
                  </div>
                </div>
                <div class="cart__price-col">
                  <div class="cart__item__price">
                    45 619,20 руб
                  </div>
                </div>
              </div>
               <div class="cart__item">
                <button class="cart__item__remove"></button>
                <div class="cart__item-col">
                  <div class="cart__item__info">
                    <div class="cart__item__info__cover">
                      <img src="images/media/kirpichi_pr.jpg">
                    </div>
                    <div class="cart__item__info__prop">
                      <div class="cart__item__info__prop__title">Кирпич керамический одинарный пустотелый (1НФ)</div>
                      <div class="cart__item__info__prop__price">13,20 руб/шт</div>
                    </div>
                  </div>
                </div>
                <div class="cart__count-col">
                  <div class="cart__item__count">
                    <input type="number" name=""><br/>
                    <div class="cart__item__count__measure">штук</div>
                  </div>
                </div>
                <div class="cart__price-col">
                  <div class="cart__item__price">
                    45 619,20 руб
                  </div>
                </div>
              </div>
              <div class="cart__person">
                <div class="cart__person__field">
                  <input type="text" name="" placeholder="Ваше имя">
                </div>
                <div class="cart__person__field">
                  <input type="text" name="" placeholder="Ваш телефон">
                </div>
                <div class="cart__person__field">
                  <input type="text" name="" placeholder="Ваш E-mail">
                </div>
              </div>
              <div class="cart__total">
                Итого
                <div class="cart__total__value">332 851,20 руб</div>
              </div>
              <div class="cart__submit">
                <button type="submit" class="btn btn--cart" disabled>КУПИТЬ</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.html" %}
{% endblock %}
