{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">    
    <div class="content">
      <div class="page page--gray-bg">
        <div class="page__bg"></div>
        <div class="page__wrapper">
          <header class="page__header page__header--black">
            <h1>Дипломы и сертификаты</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs breadcrumbs--black">
                <div class="breadcrumbs__item">
                  <a href="index.html">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item">
                  <a href="about.html">О компании</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="certificates.html">Дипломы и сертификаты</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="page__nav">
              <nav class="navbar navbar--page">
                <ul class="navbar__list">
                  <li class="navbar__item">
                    <a href="team.html">Наша команда</a>
                  </li>
                  <li class="navbar__item">
                    <a href="partners.html">Наши партнеры</a>
                  </li>
                  <li class="navbar__item">
                    <a href="regions.html">Регионы присутсвия</a>
                  </li>
                  <li class="navbar__item">
                    <a href="jobs.html">Вакансии</a>
                  </li>
                  <li class="navbar__item navbar__item--active">
                    <a href="certificates.html">Дипломы и сертификаты</a>
                  </li>
                  <li class="navbar__item">
                    <a href="producers.html">Заводы производители</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="certificates">
              <a class="certificates__item" href="#popup_photo_view_1">
                <img src="images/media/diplom.jpg"/>
              </a>
              <a class="certificates__item" href="#popup_photo_view_2">
                <img src="images/media/diplom.jpg"/>
              </a>
              <a class="certificates__item" href="#popup_photo_view_3">
                <img src="images/media/diplom.jpg"/>
              </a>
              <a class="certificates__item" href="#popup_photo_view_4">
                <img src="images/media/diplom.jpg"/>
              </a>
              <a class="certificates__item" href="#popup_photo_view_5">
                <img src="images/media/diplom.jpg"/>
              </a>
              <a class="certificates__item" href="#popup_photo_view_6">
                <img src="images/media/diplom.jpg"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
  <div class="modal__dialog mfp-hide" id="popup_photo_view_1">
    <div class="modal__photo">
      <img src="images/media/diplom.jpg">      
    </div>
  </div>
  <div class="modal__dialog mfp-hide" id="popup_photo_view_2">
    <div class="modal__photo">
      <img src="images/media/diplom.jpg">      
    </div>
  </div>
  <div class="modal__dialog mfp-hide" id="popup_photo_view_3">
    <div class="modal__photo">
      <img src="images/media/diplom.jpg">      
    </div>
  </div>
  <div class="modal__dialog mfp-hide" id="popup_photo_view_4">
    <div class="modal__photo">
      <img src="images/media/diplom.jpg">      
    </div>
  </div>
  <div class="modal__dialog mfp-hide" id="popup_photo_view_5">
    <div class="modal__photo">
      <img src="images/media/diplom.jpg">      
    </div>
  </div>
  <div class="modal__dialog mfp-hide" id="popup_photo_view_6">
    <div class="modal__photo">
      <img src="images/media/diplom.jpg">      
    </div>
  </div>
{% endblock %}
