{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">    
    <div class="content">
      <div class="page page--not-bg">
        <div class="page__wrapper">
          <header class="page__header page__header--black">
            <h1>Дипломы и сертификаты</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs breadcrumbs--black">
                <div class="breadcrumbs__item">
                  <a href="#">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item">
                  <a href="#">О компании</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="#">Дипломы и сертификаты</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="page__nav">
              <nav class="navbar navbar--page">
                <ul class="navbar__list">
                  <li class="navbar__item">
                    <a href="#">Заводы и производители</a>
                  </li>
                  <li class="navbar__item">
                    <a href="#">Наши партнеры</a>
                  </li>
                  <li class="navbar__item navbar__item--active">
                    <a href="#">Дипломы и сертификаты</a>
                  </li>
                  <li class="navbar__item">
                    <a href="#">Карьера</a>
                  </li>
                  <li class="navbar__item">
                    <a href="#">Наша команда</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="certificates">
              <div class="certificates__item">
                <img src="images/media/diplom.jpg"/>
              </div>
              <div class="certificates__item">
                <img src="images/media/diplom.jpg"/>
              </div>
              <div class="certificates__item">
                <img src="images/media/diplom.jpg"/>
              </div>
              <div class="certificates__item">
                <img src="images/media/diplom.jpg"/>
              </div>
              <div class="certificates__item">
                <img src="images/media/diplom.jpg"/>
              </div>
              <div class="certificates__item">
                <img src="images/media/diplom.jpg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.html" %}
{% endblock %}
