{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">
    <div class="content">
      <div class="page page--contacts-bg">
        <div class="page__bg">
          <div class="page__bg__dark"></div>
        </div>
        <div class="page__wrapper">
          <header class="page__header">
            <h1>Контакты</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs">
                <div class="breadcrumbs__item">
                  <a href="index.html">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="contacts.html">Контакты</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="contacts">
              <div class="contacts__main-phones">
                <h3>Единая справочная</h3>
                <p>8 800 555-9-129</p>
                <h4>Беспатный звонок по России</h4>
                <p>8 (843) 203-96-51</p>
              </div>
              <div class="contacts__tabs">
                <div class="contacts__tabs__active" id="contact_tab_active">
                  <div class="contacts__tabs__active__item" id="contact_tab_active_item"></div>
                  <div class="contacts__tabs__active__arrow" id="contact_tab_active_arrow"></div>
                </div>
                <div class="contacts__tabs__menu" id="contact_tab_menu">
                  <div class="contacts__tabs__menu__item" id="contact_tab_menu_0">
                    Отдел продаж Кощаково
                    <input type="hidden" value="49.40377400,55.79573468">
                  </div>
                  <div class="contacts__tabs__menu__item" id="contact_tab_menu_1">
                    Отдел продаж Челны
                    <input type="hidden" value="52.36681350,55.71320467">
                  </div>
                  <div class="contacts__tabs__menu__item" id="contact_tab_menu_2">
                    Отдел продаж Казань
                    <input type="hidden" value="49.10271300,55.77025877">
                  </div>
                  <div class="contacts__tabs__menu__item" id="contact_tab_menu_3">
                    Отдел рекламы
                  </div>
                  <div class="contacts__tabs__menu__item" id="contact_tab_menu_4">
                    Отдел кадров
                  </div>
                </div>
                <div id="contact_tab_content">
                  <div class="contacts__tabs__content" id="contact_tab_content_0">
                    <div class="contacts__tabs__content__col">
                      <h2>Казань</h2>
                      <table>
                        <tr>
                          <td>Тел</td>
                          <td>
                            240-43-06<br />240-43-07<br />240-43-60
                          </td>
                        </tr>
                        <tr>
                          <td>Факс</td>
                          <td>8 (84367)- 41-606</td>
                        </tr>
                        <tr>
                          <td>E-mail</td>
                          <td>koshakovo.keramik@abdev.ru</td>
                        </tr>
                      </table>
                    </div>
                    <div class="contacts__tabs__content__col">
                      <h2>Режим работы</h2>
                      <table>
                        <tr>
                          <td>Пн-Пт</td>
                          <td>с 7.00 до 19.00</td>
                        </tr>
                        <tr>
                          <td>Сб-Вс</td>
                          <td>с 7.00 до 16.00</td>
                        </tr>
                      </table>
                      <div class="contacts__tabs__content__scheme">
                        <a href="#" class="link-scheme">Схема проезда</a>
                      </div>
                    </div>
                  </div>
                  <div class="contacts__tabs__content" id="contact_tab_content_1">
                    <div class="contacts__tabs__content__col">
                      <h2>Казань</h2>
                      <table>
                        <tr>
                          <td>Тел</td>
                          <td>
                            240-43-06<br />240-43-07<br />240-43-60
                          </td>
                        </tr>
                        <tr>
                          <td>Факс</td>
                          <td>8 (84367)- 41-606</td>
                        </tr>
                        <tr>
                          <td>E-mail</td>
                          <td>koshakovo.keramik@abdev.ru</td>
                        </tr>
                      </table>
                    </div>
                    <div class="contacts__tabs__content__col">
                      <h2>Режим работы</h2>
                      <table>
                        <tr>
                          <td>Пн-Пт</td>
                          <td>с 7.00 до 19.00</td>
                        </tr>
                        <tr>
                          <td>Сб-Вс</td>
                          <td>с 7.00 до 16.00</td>
                        </tr>
                      </table>
                      <div class="contacts__tabs__content__scheme">
                      </div>
                    </div>
                  </div>
                  <div class="contacts__tabs__content" id="contact_tab_content_2">
                    <div class="contacts__tabs__content__col">
                      <h2>Казань</h2>
                      <table>
                        <tr>
                          <td>Тел</td>
                          <td>
                            240-43-06<br />240-43-07<br />240-43-60
                          </td>
                        </tr>
                        <tr>
                          <td>Факс</td>
                          <td>8 (84367)- 41-606</td>
                        </tr>
                        <tr>
                          <td>E-mail</td>
                          <td>koshakovo.keramik@abdev.ru</td>
                        </tr>
                      </table>
                    </div>
                    <div class="contacts__tabs__content__col">
                      <h2>Режим работы</h2>
                      <table>
                        <tr>
                          <td>Пн-Пт</td>
                          <td>с 7.00 до 19.00</td>
                        </tr>
                        <tr>
                          <td>Сб-Вс</td>
                          <td>с 7.00 до 16.00</td>
                        </tr>
                      </table>
                      <div class="contacts__tabs__content__scheme">
                      </div>
                    </div>
                  </div>
                  <div class="contacts__tabs__content" id="contact_tab_content_3">
                    <div class="contacts__tabs__content__col">
                      <h2>Казань</h2>
                      <table>
                        <tr>
                          <td>Тел</td>
                          <td>
                            240-43-06<br />240-43-07<br />240-43-60
                          </td>
                        </tr>
                        <tr>
                          <td>Факс</td>
                          <td>8 (84367)- 41-606</td>
                        </tr>
                        <tr>
                          <td>E-mail</td>
                          <td>koshakovo.keramik@abdev.ru</td>
                        </tr>
                      </table>
                    </div>
                    <div class="contacts__tabs__content__col">
                      <h2>Режим работы</h2>
                      <table>
                        <tr>
                          <td>Пн-Пт</td>
                          <td>с 7.00 до 19.00</td>
                        </tr>
                        <tr>
                          <td>Сб-Вс</td>
                          <td>с 7.00 до 16.00</td>
                        </tr>
                      </table>
                      <div class="contacts__tabs__content__scheme">
                      </div>
                    </div>
                  </div>
                  <div class="contacts__tabs__content" id="contact_tab_content_4">
                    <div class="contacts__tabs__content__col">
                      <h2>Казань</h2>
                      <table>
                        <tr>
                          <td>Тел</td>
                          <td>
                            240-43-06<br />240-43-07<br />240-43-60
                          </td>
                        </tr>
                        <tr>
                          <td>Факс</td>
                          <td>8 (84367)- 41-606</td>
                        </tr>
                        <tr>
                          <td>E-mail</td>
                          <td>koshakovo.keramik@abdev.ru</td>
                        </tr>
                      </table>
                    </div>
                    <div class="contacts__tabs__content__col">
                      <h2>Режим работы</h2>
                      <table>
                        <tr>
                          <td>Пн-Пт</td>
                          <td>с 7.00 до 19.00</td>
                        </tr>
                        <tr>
                          <td>Сб-Вс</td>
                          <td>с 7.00 до 16.00</td>
                        </tr>
                      </table>
                      <div class="contacts__tabs__content__scheme">
                      </div>
                    </div>
                  </div>
                </div>                  
              </div>
            </div>
          </div>
        </div>
        <div class="contacts-map-container">
          <div class="contacts-map" id="contacts_map"></div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
{% endblock %}
