{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">
    <div class="content">
      <div class="page page--dealers-bg">
        <div class="page__bg">
          <div class="page__bg__dark"></div>
        </div>
        <div class="page__wrapper">
          <header class="page__header">
            <h1>Дилеры</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs">
                <div class="breadcrumbs__item">
                  <a href="index.html">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="dealers.html">Дилеры</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="dealers">
              <p>
                ГК «Керамик» приглашает к активному и выгодному сотрудничеству торговые организации, имеющие опыт продаж на строительном рынке и ориентированные на качество продукта и обслуживания. Дилеры нашей компании получают квалифицированную помощь в полном объеме на всех этапах сотрудничества. Преимущества работы с ГК «Керамик»:
              </p>
              <ul>
                <li>Высокое качество продукции;</li>
                <li>Выгодные условия сотрудничества:</li>
                <li>Наличие продукции на складе;</li>
              </ul>
              <p>
                Получить подробную информацию об условиях сотрудничества вы можете в отделе по работе с дистрибьюторами.
              </p>
              <div class="dealers__action">
                <a href="anketa.html" class="link-dealers">ОСТАВЬТЕ ЗАЯВКУ НА СОТРУДНИЧЕСТВО</a>
              </div>
              <div class="dealers__phones">
                <h2>Звоните</h2>
                <div class="dealers__phones__row">
                  <div class="dealers__phones__col dealers__phones__col--name">
                    Мустафин Рамиль Назирович
                  </div>
                  <div class="dealers__phones__col">
                    Руководитель отдела по работе с дилерами
                  </div>
                  <div class="dealers__phones__col">
                    Rmustafin@abdev.ru
                  </div>
                  <div class="dealers__phones__col">
                    Тел. 8 (966) 240-43-93<br/>
                    Факс 8 (843) 295-60-10
                  </div>
                </div>
              </div>
              <div class="dealers__list">
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/wenerberger.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/brick_company.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/wenerberger.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/brick_company.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/wenerberger.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/brick_company.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/wenerberger.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/brick_company.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/wenerberger.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/brick_company.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/wenerberger.jpg">
                </a>
                <a class="dealers__item" href="#popup_dealer_1">
                  <img src="images/media/brick_company.jpg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
  <div class="modal__dialog modal__dialog--dealer mfp-hide" id="popup_dealer_1">
    <div class="dealer-popup">
      <h2>ЗАО “Кирпичная Компания Ульяновск”</h2>
      <div class="dealer-popup__about">
        Строительные материалы в Балаково – цветной бетонный кирпич, керамический кирпич, строительный и облицовочный кирпич, тротуарную плитку, резиновые плиты и брусчатку, газосиликатные блоки, керамзитобетонные блоки, доломитовые блоки, а также другие отделочные материалы Вы всегда можете приобрести в компании «Плиткин Двор».
        «Плиткин Двор»  — молодая, динамично развивающаяся Балаковская компания, работающая с 2007 года, нацеленная на эксклюзивные поставки высококачественных строительных материалов непосредственно на объекты строительства по области, а также по всей стране автомобильным и железнодорожным транспортом. Продукция, предлагаемая нами, тщательно отобрана среди разнообразия материалов, используемых ведущими строительными организациями страны.
      </div>
      <div class="dealer-popup__contacts">
        <div class="dealer-popup__contacts__address">
          г. Ульяновск, Новослободская ул. 18В, блок
        </div>
        <table>
          <tr>
            <td>Тел</td><td>240-43-06, 240-43-07</td>
          </tr>
          <tr>
            <td>Факс</td><td>8 (84367)- 41-606</td>
          </tr>
          <tr>
            <td>E-mail</td><td>brickcompany@abdev.ru</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
