{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">
    <div class="content">
      <div class="page page--dealers-bg">
        <div class="page__wrapper">
          <header class="page__header">
            <h1>Дилеры</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs">
                <div class="breadcrumbs__item">
                  <a href="#">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="#">Дилеры</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="dealers">
              <p>
                ГК «Керамик» приглашает к активному и выгодному сотрудничеству торговые организации, имеющие опыт продаж на строительном рынке и ориентированные на качество продукта и обслуживания. Дилеры нашей компании получают квалифицированную помощь в полном объеме на всех этапах сотрудничества. Преимущества работы с ГК «Керамик»:
              </p>
              <ul>
                <li>Высокое качество продукции;</li>
                <li>Выгодные условия сотрудничества:</li>
                <li>Наличие продукции на складе;</li>
              </ul>
              <p>
                Получить подробную информацию об условиях сотрудничества вы можете в отделе по работе с дистрибьюторами.
              </p>
              <div class="dealers__action">
                <a href="anketa.html" class="link-dealers">ОСТАВЬТЕ ЗАЯВКУ НА СОТРУДНИЧЕСТВО</a>
              </div>
              <div class="dealers__phones">
                <h2>Звоните</h2>
                <div class="dealers__phones__row">
                  <div class="dealers__phones__col dealers__phones__col--name">
                    Мустафин Рамиль Назирович 
                  </div>
                  <div class="dealers__phones__col">
                    Руководитель отдела по работе с дилерами
                  </div>
                  <div class="dealers__phones__col">
                    Rmustafin@abdev.ru
                  </div>
                  <div class="dealers__phones__col">
                    Тел. 8 (966) 240-43-93<br/>
                    Факс 8 (843) 295-60-10
                  </div>
                </div>
              </div>
              <div class="dealers__list">
                <a class="dealers__item" href="#dealers_popup_1">
                  <img src="images/media/wenerberger.jpg">
                </a>
                <div class="dealers__item">
                  <img src="images/media/brick_company.jpg">
                </div>
                <div class="dealers__item">
                  <img src="images/media/wenerberger.jpg">
                </div>
                <div class="dealers__item">
                  <img src="images/media/brick_company.jpg">
                </div>
                <div class="dealers__item">
                  <img src="images/media/wenerberger.jpg">
                </div>
                <div class="dealers__item">
                  <img src="images/media/brick_company.jpg">
                </div>
                <div class="dealers__item">
                  <img src="images/media/wenerberger.jpg">
                </div>
                <div class="dealers__item">
                  <img src="images/media/brick_company.jpg">
                </div>
                <div class="dealers__item">
                  <img src="images/media/wenerberger.jpg">
                </div>
                <div class="dealers__item">
                  <img src="images/media/brick_company.jpg">
                </div>
                <div class="dealers__item">
                  <img src="images/media/wenerberger.jpg">
                </div>
                <div class="dealers__item">
                  <img src="images/media/brick_company.jpg">
                </div>
                <div class="dealers__popup" id="dealers_popup_1">
                  <div class="dealers__popup__close"><a href="#" class="link-close-gray"></a></div>
                  <h2>ЗАО “Кирпичная Компания Ульяновск”</h2>
                  <div class="dealers__popup__about">
                    Краткая информация о партнере - один абзац. Краткая информация о партнере - один абзац. Краткая информация о партнере - один абзац. Краткая информация о партнере - один абзац.
                  </div>
                  <div class="dealers__popup__contacts">
                    <div class="dealers__popup__contacts__address">
                      г. Ульяновск, Новослободская ул. 18В, блок 
                    </div>
                    <table>
                      <tr>
                        <td>Тел</td><td>240-43-06, 240-43-07</td>
                      </tr>
                      <tr>
                        <td>Факс</td><td>8 (84367)- 41-606</td>
                      </tr>
                      <tr>
                        <td>E-mail</td><td>brickcompany@abdev.ru</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
{% endblock %}
