{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">
    <div class="content">
      <div class="page">
        <div class="page__wrapper">
          <header class="page__header page__header--black">
            <h1>Состоялась коллегия минстроя РТ</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs breadcrumbs--black">
                <div class="breadcrumbs__item">
                  <a href="#">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item">
                  <a href="#">Пресс-центр</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item">
                  <a href="#">Новости</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="#">Состоялась коллегия минстроя РТ</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="news">
              <div class="news__galler">
                <div class="news__gallery__view">
                  <img src="images/media/news_min.jpg">
                </div>
                <div class="news__gallery__list">
                  <div class="news__gallery__item news__gallery__item--active">
                    <img src="images/media/news_min.jpg">
                  </div>
                  <div class="news__gallery__item">
                    <img src="images/media/news_min.jpg">
                  </div>
                  <div class="news__gallery__item">
                    <img src="images/media/news_min.jpg">
                  </div>
                  <div class="news__gallery__item">
                    <img src="images/media/news_min.jpg">
                  </div>
                </div>
              </div>
              <div class="news__publish-date">14.03.2016</div>
              <div class="news__text markups">
                <h2>Состоялась Коллегия Минстроя РТ</h2>
                <p>
                  Как подчеркнул глава министерства И.Файзуллин, удорожание строительных материалов является одной из главных причин роста инфляции в строительной отрасли. Показатель инфляции на рынке стройматериалов по итогам 2015 года составил 13,5 процента.
                </p>
                <p>
                  В 2015 году в Татарстане инвестиции, направленные в строительство, составили 11,1 млрд. рублей, или 2,1 процента от общего объема инвестиций в основной капитал РТ.
                </p>
                <p>
                  На рынке жилищно-коммунальных услуг республики сегодня действуют 612 крупных организаций и около 700 средних и мелких.
                </p>
                <p>
                  Объем реализации услуг организациями ЖКХ в 2015 году вырос по отношению к 2014 году на 3 процента, прибыль составила порядка 875 млн. рублей, что ниже уровня прошлого года на 20,7 процента, сообщил Файзуллин.
                </p>
                <p>
                  Более 40 процентов коммерческого жилья, построенного в Татарстане в 2015 году, остается непроданным. Это 6 тыс. 872 квартиры общей площадью 556 тыс. кв.м. Ирек Файзуллин также выразил надежду, что федеральная государственная программа субсидирования ставок ипотечных кредитов, срок действия которой завершается в марте, будет продлена.
                </p>
                <p>
                  Первый заместитель министра строительства и ЖКХ РФ Леонид Ставицкий, участвовавший в заседании коллегии, рассказал о мерах, предлагаемых федеральным министерством для поддержки ипотечного кредитования в стране.
                </p>
                <p>
                  Среди предложений чиновник назвал и продление программы субсидирования ипотеки, по которой предлагаемая ставка для заемщиков составляет 12 процентов. Кроме того, Минстрой РФ предлагает за счет бюджетных субсидий на возмещение недополученных доходов кредитных организаций снизить ставку по ипотеке до 7-8 процентов. Предлагается также создать программы для отдельных граждан по аналогии с военной ипотекой, в результате реализации которой банки могут получить средства от ЦБ по льготной ставке и снизить ставку для заемщиков.
                </p>
                <p>
                  Помимо этого, по словам Ставицкого, Минстрой намерен рекомендовать снизить до 10 процентов размер первоначального взноса по ипотечным кредитам. Сейчас эти и ряд других мер активно обсуждаются в Правительстве, сообщил первый замминистра строительства и ЖКХ РФ. 
                </p>
                <p>
                  Совместно с пресс-службой Министерства строительства, архитектуры и ЖКХ РТ.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
{% endblock %}
