{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">
    <div class="content">
      <div class="page page--news-bg">
        <div class="page__bg">
          <div class="page__bg__dark"></div>
        </div>
        <div class="page__wrapper">
          <header class="page__header">
            <h1>Новости</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs">
                <div class="breadcrumbs__item">
                  <a href="index.html">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item">
                  <a href="#">Пресс-центр</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="news_list.html">Новости</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="page__nav">
              <nav class="navbar navbar--page">
                <ul class="navbar__list">
                  <li class="navbar__item navbar__item--active">
                    <a href="news_list.html">Новости</a>
                  </li>
                  <li class="navbar__item">
                    <a href="press_photo.html">Фотогалерея</a>
                  </li>
                </ul>
               </ul>
              </nav>
            </div>
            <div class="news-list">
              <div class="news-list__item">
                <div class="news-list__item__publish-date">15.04.2016</div>
                <div class="news-list__item__title"><a href="news.html">График работы  на майские праздники</a></div>
                <div class="news-list__item__cover">
                  <img src="images/media/may.jpg">
                </div>
              </div>
              <div class="news-list__item">
                <div class="news-list__item__publish-date">15.04.2016</div>
                <div class="news-list__item__title"><a href="news.html">График работы  на майские праздники</a></div>
                <div class="news-list__item__cover">
                  <img src="images/media/may.jpg">
                </div>
              </div>
              <div class="news-list__item">
                <div class="news-list__item__publish-date">15.04.2016</div>
                <div class="news-list__item__title">
                  <a href="#">Холдинг Ак Барс Керамика - участник международной выставки «ВолгаСтройЭкспо»</a>
                </div>
                <div class="news-list__item__cover">
                  <img src="images/media/may.jpg">
                </div>
              </div>
              <div class="news-list__item">
                <div class="news-list__item__publish-date">15.04.2016</div>
                <div class="news-list__item__title">
                  <a href="#">Холдинг Ак Барс Керамика - участник международной выставки «ВолгаСтройЭкспо»</a>
                </div>
                <div class="news-list__item__cover">
                  <img src="images/media/may.jpg">
                </div>
              </div>
              <div class="news-list__item">
                <div class="news-list__item__publish-date">15.04.2016</div>
                <div class="news-list__item__title"><a href="news.html">Состоялась Коллегия Минстроя РТ</a></div>
                <div class="news-list__item__cover">
                  <img src="images/media/may.jpg">
                </div>
              </div>
              <div class="news-list__item">
                <div class="news-list__item__publish-date">15.04.2016</div>
                <div class="news-list__item__title"><a href="news.html">Состоялась Коллегия Минстроя РТ</a></div>
                <div class="news-list__item__cover">
                  <img src="images/media/may.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
{% endblock %}
