{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">    
    <div class="content">
      <div class="page page--not-bg">
        <div class="page__wrapper">
          <header class="page__header page__header--black">
            <h1>Наши партнеры</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs breadcrumbs--black">
                <div class="breadcrumbs__item">
                  <a href="#">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item">
                  <a href="#">О компании</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="#">Наши партнеры</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="page__nav">
              <nav class="navbar navbar--page">
                <ul class="navbar__list">
                  <li class="navbar__item">
                    <a href="team.html">Наша команда</a>
                  </li>
                  <li class="navbar__item navbar__item--active">
                    <a href="partners.html">Наши партнеры</a>
                  </li>
                  <li class="navbar__item">
                    <a href="regions.html">Регионы присутсвия</a>
                  </li>
                  <li class="navbar__item">
                    <a href="jobs.html">Вакансии</a>
                  </li>
                  <li class="navbar__item">
                    <a href="certificates.html">Дипломы и сертификаты</a>
                  </li>
                  <li class="navbar__item">
                    <a href="producers.html">Заводы производители</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="partners">
              <div class="partners__item">
                <img src="images/media/ak_bars_ned.jpg"/>
              </div>
              <div class="partners__item">
                <img src="images/media/ak_bars_stroy.jpg"/>
              </div>
              <div class="partners__item">
                <img src="images/media/kzn_us.jpg"/>
              </div>
              <div class="partners__item">
                <img src="images/media/kzn_dsk.jpg"/>
              </div>
              <div class="partners__item">
                <img src="images/media/multi_plast.jpg"/>
              </div>
              <div class="partners__item">
                <img src="images/media/stal_fact.jpg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.html" %}
{% endblock %}
