{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">    
    <div class="content">
      <div class="page page--not-bg">
        <div class="page__wrapper">
          <header class="page__header page__header--black">
            <h1>Продукция художественной студии</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs breadcrumbs--black">
                <div class="breadcrumbs__item">
                  <a href="#">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item">
                  <a href="#">Пресс-центр</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item">
                  <a href="#">Фотогалерея</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="#">Продукция художественной студии</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="press-photos">
              <div class="press-photos__item">
                <a href="#modal_photo_view_1">
                  <img src="images/media/press_photo_1.jpg"/>                  
                </a>
              </div>
              <div class="press-photos__item">
                <a href="#modal_photo_view_2">
                  <img src="images/media/press_photo_2.jpg"/>                  
                </a>
              </div>
              <div class="press-photos__item">
                <a href="#modal_photo_view_3">
                  <img src="images/media/press_photo_3.jpg"/>                  
                </a>
              </div>
              <div class="press-photos__item">
                <a href="#modal_photo_view_4">
                  <img src="images/media/press_photo_1.jpg"/>                  
                </a>
              </div>
              <div class="press-photos__item">
                <a href="#modal_photo_view_5">
                  <img src="images/media/press_photo_2.jpg"/>                  
                </a>
              </div>
              <div class="press-photos__item">
                <a href="#modal_photo_view_6">
                  <img src="images/media/press_photo_3.jpg"/>                  
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.html" %}
  <div class="modal" id="modal_photo_view_1">
    <div class="modal__dialog">
      <div class="modal__close"><a href="#"></a></div>
      <div class="modal__photo">
        <img src="images/media/modal_photo.jpg">      
      </div>
    </div>
  </div>
  <div class="modal" id="modal_photo_view_2">
    <div class="modal__dialog">
      <div class="modal__close"><a href="#"></a></div>
      <div class="modal__photo">
        <img src="images/media/modal_photo.jpg">      
      </div>
    </div>
  </div>
  <div class="modal" id="modal_photo_view_3">
    <div class="modal__dialog">
      <div class="modal__close"><a href="#"></a></div>
      <div class="modal__photo">
        <img src="images/media/modal_photo.jpg">      
      </div>
    </div>
  </div>
  <div class="modal" id="modal_photo_view_4">
    <div class="modal__dialog">
      <div class="modal__close"><a href="#"></a></div>
      <div class="modal__photo">
        <img src="images/media/modal_photo.jpg">      
      </div>
    </div>
  </div>
  <div class="modal" id="modal_photo_view_5">
    <div class="modal__dialog">
      <div class="modal__close"><a href="#"></a></div>
      <div class="modal__photo">
        <img src="images/media/modal_photo.jpg">      
      </div>
    </div>
  </div>
  <div class="modal" id="modal_photo_view_6">
    <div class="modal__dialog">
      <div class="modal__close"><a href="#"></a></div>
      <div class="modal__photo">
        <img src="images/media/modal_photo.jpg">      
      </div>
    </div>
  </div>
{% endblock %}
