{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">
    <div class="content">
      <div class="page page--product">
        <div class="fluid-wrapper">
          <div class="good-page">
            <header class="good-page__header">
              <h1>Кирпич керамический одинарный пустотелый (1НФ) / полуторный (1,4 НФ)</h1>
              <div class="good-page__header__back">
                <a href="catalog.html">Обратно к каталогу</a>
              </div>
            </header>
            <div class="good-page__col">
              <div class="good-page__cover" style="background-image: url('images/media/kirpichi_bg.jpg')">
                <img src="images/media/kirpichi_pr.jpg">
              </div>
            </div>
            <div class="good-page__col good-page__col--right">
              <div class="good-page__prop">
                <table>
                  <tr>
                    <td>Рядовой</td>
                    <td>от 13,60 руб/шт</td>
                  </tr>
                  <tr>
                    <td>Классификация</td>
                    <td>Блок</td>
                  </tr>
                  <tr>
                    <td>Цвет</td>
                    <td>Красный</td>
                  </tr>
                  <tr>
                    <td>Размер(мм)</td>
                    <td>250x120x140 / 250x120x130 мм</td>
                  </tr>
                  <tr>
                    <td>Масса (кг)</td>
                    <td>4,9/4,6 кг</td>
                  </tr>
                  <tr>
                    <td>Марка прочности (артикул)</td>
                    <td>М 150</td>
                  </tr>
                  <tr>
                    <td>Морозостойкость</td>
                    <td>F 50</td>
                  </tr>
                  <tr>
                    <td>Теплопроводность</td>
                    <td>0,54 Вт/мС°</td>
                  </tr>
                  <tr>
                    <td>Пустотность</td>
                    <td>36%</td>
                  </tr>
                  <tr>
                    <td>Водопоглощение</td>
                    <td>12,06%</td>
                  </tr>
                  <tr>
                    <td>Кол-во на 1 поддоне</td>
                    <td>192</td>
                  </tr>
                  <tr>
                    <td>Производитель</td>
                    <td>Кощаковский кирпичный завод</td>
                  </tr>
                </table>
              </div>
              <div class="good-page__warehouse">
                <form class="good-page__warehouse__form">
                  <div class="good-page__warehouse__form__frame">
                    <h3>Отрузка со склада</h3>
                    <div class="good-page__warehouse__form__field">
                      <input type="radio" id="good_warehouse_1" name="good_warehouse">
                      <label for="good_warehouse_1">Казань</label>
                      <input type="radio" id="good_warehouse_2" name="good_warehouse">
                      <label for="good_warehouse_2">Набережные челны</label>
                      <input type="radio" id="good_warehouse_3" name="good_warehouse" disabled>
                      <label for="good_warehouse_3">Село кощаково</label>
                    </div>
                  </div>
                  <div class="good-page__warehouse__form__field">
                    <button class="btn btn--good">В КОРЗИНУ</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="good-page-sliders">
          <div class="fluid-wrapper" id="product_slick_slider_list">
            <div class="slider">
              <header class="slider__header"><h1>Примеры кирпичной кладки из нашей продукции</h1></header>
              <div class="slider__content" id="product_slick_slider_item_1">
                <button id="product_slick_slider_prev" class="slider__arrow slider__arrow--left"></button>
                <div class="slider__list" id="product_slick_slider_content">
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                </div>
                <button id="product_slick_slider_next" class="slider__arrow slider__arrow--right"></button>
              </div>
            </div>
            <!--<div class="slider">
              <header class="slider__header"><h1>Реализованные объекты</h1></header>
              <div class="slider__content" id="product_slick_slider_item_2">
                <button id="product_slick_slider_prev" class="slider__arrow slider__arrow--left"></button>
                <div class="slider__list" id="product_slick_slider_content">
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                  <div class="slider__item">
                    <a href="#popup_photo_view_1"><img src="images/media/brick_wall.jpg"></a>
                  </div>
                </div>
                <button id="product_slick_slider_next" class="slider__arrow slider__arrow--right"></button>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
  <div class="modal__dialog mfp-hide" id="popup_photo_view_1">
    <div class="modal__photo">
      <img src="images/media/popup_photo.jpg">
    </div>
  </div>
{% endblock %}
