{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">    
    <div class="content">
      <div class="page page--not-bg">
        <header class="page__header page__header--black">
          <h1>Кирпич керамический одинарный пустотелый (1НФ) / полуторный (1,4 НФ)</h1>
          <div class="page__header__back">
            <a href="catalog.html">Обратно к каталогу</a>
          </div>
        </header>
      </div>
    </div>
  </div>
  {% include "partials/footer.html" %}
{% endblock %}
