{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">
    <div class="content">
      <div class="page page--search">
        <header class="page__header">
          <form class="search-form">
            <div class="search-form__field">
              <input type="text" name="">
              <button type="submit">Поиск</button>              
            </div>
          </form>
        </header>
        <div class="page__content">
          <div class="search-results">
            <div class="search-results__count">
              Найдено: 100
            </div>
            <div class="search-results__list">
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>                
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>
              <div class="search-results__item">
                <div class="search-results__item__title">Кирпич рядовой</div>
                <div class="search-results__item__description">
                  Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. Доставка. Самовывоз. Хранение. Кирпич-рядовой полнотелый М125. Купить. 9 руб/шт цена. Одинарный рядовой полнотелый кирпич М 125. 
                </div>
              </div>
            </div>
            <div class="search-results__show-more">
              <a class="link-show-more" href="#">Показать еще</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
{% endblock %}
