{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">    
    <div class="content">
      <div class="page page--not-bg">
        <div class="page__wrapper">
          <header class="page__header page__header--black">
            <h1>Акции</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs breadcrumbs--black">
                <div class="breadcrumbs__item">
                  <a href="#">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="#">Акции</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="promotions-page">
              <div class="promotions-page__item" style="background-image: url('images/media/calendar.jpg')">
                <div class="promotions-page__item__gradient">
                  <div class="promotions-page__item__goto">
                    <a href="special_offers_page.html" class="link-rectangle-arrow"></a>
                  </div>
                  <h1>Лето не повод отдыхать</h1>
                  <div class="promotions-page__item__description">
                    Отдел продаж работает для вас каждый день и даже в воскресенье
                  </div>                  
                </div>
              </div>
              <div class="promotions-page__item" style="background-image: url('images/media/calendar.jpg')">
                <div class="promotions-page__item__gradient">
                  <div class="promotions-page__item__goto">
                    <a href="special_offers_page.html" class="link-rectangle-arrow"></a>
                  </div>
                  <h1>Лето не повод отдыхать</h1>
                  <div class="promotions-page__item__description">
                    Отдел продаж работает для вас каждый день и даже в воскресенье
                  </div>                  
                </div>
              </div>
              <div class="promotions-page__item" style="background-image: url('images/media/calendar.jpg')">
                <div class="promotions-page__item__gradient">
                  <div class="promotions-page__item__goto">
                    <a href="special_offers_page.html" class="link-rectangle-arrow"></a>
                  </div>
                  <h1>Лето не повод отдыхать</h1>
                  <div class="promotions-page__item__description">
                    Отдел продаж работает для вас каждый день и даже в воскресенье
                  </div>                  
                </div>
              </div>
              <div class="promotions-page__item" style="background-image: url('images/media/calendar.jpg')">
                <div class="promotions-page__item__gradient">
                  <div class="promotions-page__item__goto">
                    <a href="special_offers_page.html" class="link-rectangle-arrow"></a>
                  </div>
                  <h1>Лето не повод отдыхать</h1>
                  <div class="promotions-page__item__description">
                    Отдел продаж работает для вас каждый день и даже в воскресенье
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.html" %}
{% endblock %}
