{% extends "layout.nunjucks" %}

{% block content %}
  {% include "partials/header.html" %}
  <div class="slide-wrapper">
    <div class="content">
      <div class="page page--team-bg">
        <div class="page__wrapper">
          <header class="page__header">
            <h1>Наша команда</h1>
            <div class="page__header__breadcrumbs">
              <div class="breadcrumbs">
                <div class="breadcrumbs__item">
                  <a href="#">Главная</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item">
                  <a href="#">О компании</a>
                </div>
                <div class="breadcrumbs__item breadcrumbs__item--arrow"></div>
                <div class="breadcrumbs__item breadcrumbs__item--active">
                  <a href="#">Наша команда</a>
                </div>
              </div>
            </div>
          </header>
          <div class="page__content">
            <div class="page__nav">
              <nav class="navbar navbar--page">
                <ul class="navbar__list">
                  <li class="navbar__item">
                    <a href="#">Заводы и производители</a>
                  </li>
                  <li class="navbar__item">
                    <a href="#">Наши партнеры</a>
                  </li>
                  <li class="navbar__item">
                    <a href="#">Дипломы и сертификаты</a>
                  </li>
                  <li class="navbar__item">
                    <a href="#">Карьера</a>
                  </li>
                  <li class="navbar__item navbar__item--active">
                    <a href="#">Наша команда</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="team">
              <div class="team__item">
                <div class="team__item__photo">
                  <img src="images/media/team_1.jpg">
                </div>
                <div class="team__item__info">
                  <div class="team__item__info__name">Смоляр Иннеса Марковна</div>
                  <div class="team__item__info__position">Директор</div>
                </div>
              </div>
              <div class="team__item">
                <div class="team__item__photo">
                  <img src="images/media/team_1.jpg">
                </div>
                <div class="team__item__info">
                  <div class="team__item__info__name">Смоляр Иннеса Марковна</div>
                  <div class="team__item__info__position">Директор</div>
                  <div class="team__item__info__contact">INurmukhamedov@abdev.ru</div>
                </div>
              </div>
              <div class="team__item">
                <div class="team__item__photo team__item__photo--empty-w"></div>
                <div class="team__item__info">
                  <div class="team__item__info__name">Смоляр Иннеса Марковна</div>
                  <div class="team__item__info__position">Директор</div>
                  <div class="team__item__info__contact">INurmukhamedov@abdev.ru</div>
                </div>
              </div>
              <div class="team__item">
                <div class="team__item__photo team__item__photo--empty-m"></div>
                <div class="team__item__info">
                  <div class="team__item__info__name">Смоляр Иннеса Марковна</div>
                  <div class="team__item__info__position">Директор</div>
                  <div class="team__item__info__contact">INurmukhamedov@abdev.ru</div>
                </div>
              </div>
              <div class="team__item">
                <div class="team__item__photo">
                  <img src="images/media/team_1.jpg">
                </div>
                <div class="team__item__info">
                  <div class="team__item__info__name">Смоляр Иннеса Марковна</div>
                  <div class="team__item__info__position">Директор</div>
                  <div class="team__item__info__contact">INurmukhamedov@abdev.ru</div>
                </div>
              </div>
              <div class="team__item">
                <div class="team__item__photo">
                  <img src="images/media/team_1.jpg">
                </div>
                <div class="team__item__info">
                  <div class="team__item__info__name">Смоляр Иннеса Марковна</div>
                  <div class="team__item__info__position">Директор</div>
                  <div class="team__item__info__contact">INurmukhamedov@abdev.ru</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
{% endblock %}
