
$white = #fff
$white-50 = rgba(255,255,255,.5)
$white-70 = rgba(255,255,255,.7)
$white-80 = rgba(255,255,255,.8)
$white-0 = rgba(255,255,255,.0)

$gray = #f7f7f7
$gray-two = #d0d0d0
$gray-three = #eeeeee
$gray-four = #f2f2f2
$gray-six = #cdcdcd
$gray-seven = #888888
$gray-eight = #e4e4e4

$dark-gray = #b7b7b7
$dark-70 = rgba(0,0,0,.7)
$dark-50 = rgba(0,0,0,.5)
$dark-30 = rgba(0,0,0,.3)

$green = #1aa873
$green-80 =rgba(0,191,129,.8)
$green-two-80 = rgba(0, 188, 156, .8)
$green-three = #7cdabb
$green-four = #00bf81
$green-five = #00b77c
$green-six = #05d18f

$blue-80 = rgba(0, 174, 183, .8)
  
$black = #000

$black-two =#3e3e3e

$blue = #00aeb7
$blue-two = #039fa7

$yellow = #f8bf1f
$yellow-0 = rgba(248, 191, 31, .0)
$yellow-two = #f9d985

$red = #ff3501
