
$white = #fff
$white-50 = rgba(255,255,255,.5)
$white-70 = rgba(255,255,255,.7)
$white-80 = rgba(255,255,255,.8)
$white-0 = rgba(255,255,255,.0)

$gray = #f7f7f7
$gray-two = #d0d0d0
$dark-gray = #b7b7b7
$dark-70 = rgba(0,0,0,.7)
$dark-50 = rgba(0,0,0,.5)

$green = #1aa873

$black = #000

$blue = #00aeb7
