
webfont('Museo', 'MuseoCyrl-100', 100)
webfont('Museo', 'MuseoCyrl-100Italic', 100, italic)

webfont('Museo', 'MuseoCyrl-300', 300)
webfont('Museo', 'MuseoCyrl-100Italic', 300, italic)

webfont('Museo', 'MuseoCyrl-500', 500)
webfont('Museo', 'MuseoCyrl-500Italic', 500, italic)

webfont('Museo', 'MuseoCyrl-700', 700)
webfont('Museo', 'MuseoCyrl-700Italic', 700, italic)

webfont('Museo', 'MuseoCyrl-900', 900)
webfont('Museo', 'MuseoCyrl-900Italic', 900, italic)

webfont('MuseoSans', 'MuseoSansCyrl-100', 100)
webfont('MuseoSans', 'MuseoSansCyrl-100Italic', 100, italic)

webfont('MuseoSans', 'MuseoSansCyrl-300', 300)
webfont('MuseoSans', 'MuseoSansCyrl-100Italic', 300, italic)

webfont('MuseoSans', 'MuseoSansCyrl-500', 500)
webfont('MuseoSans', 'MuseoSansCyrl-500Italic', 500, italic)

webfont('MuseoSans', 'MuseoSansCyrl-700', 700)
webfont('MuseoSans', 'MuseoSansCyrl-700Italic', 700, italic)

webfont('MuseoSans', 'MuseoSansCyrl-900', 900)
webfont('MuseoSans', 'MuseoSansCyrl-900Italic', 900, italic)
