
font-url($file)
  return url('fonts/' + $file)

img-url($file)
  return url('images/' + $file)

webfont($family, $file, $weight = 'normal', $style = 'normal')
  @font-face
    font-family: $family
    src: font-url($file + '.otf')
    font-style: $style
    font-weight: $weight
