
.centered-wrapper
  center(1200px, pad = 30px)
  position: relative

  +below(980px)
    center(980px, pad=10px)
    
.about-wrapper
  padding: 45px 150px 140px 150px

  +below(980px)
    padding: 0

.slide-wrapper
  +below(980px)
    position: relative
    z-index: 1
    margin-top: -65px
    transition: left .2s ease-in-out
    overflow-x: hidden
    left: 0
