
.centered-wrapper
  center(1200px, pad = 30px)
  position: relative

  +below(980px)
    center(980px, pad=10px)
    position: relative

.about-wrapper
  padding: 45px 150px 140px 150px

  +below(980px)
    padding: 20px 0
    
.fluid-wrapper
  padding: 0 60px

  +below(980px)
    padding: 0 10px